/* ==========================================================================
   Blog index sidebar styling

   Added via JavaScript (as are DOM elements styled by this CSS).

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */
.sidebar-filter-section {
    /* These are all JS-based, so hide unless scripts are turned on. */
    display: none;
    /*** Section boundaries.
 ***/
    margin-bottom: 15px;
    margin-bottom: 0.83333rem;
    padding: 37.5px 15px 15px;
    padding: 2.08333rem 0.83333rem 0.83333rem;
    background: #e9e6df;
}
.js .sidebar-filter-section.open {
    display: block;
}

.sidebar-header {
    position: relative; 
    height: 22.5px;
    height: 1.25rem;
}

.sidebar-button-bar {
    /*** Blog sidebar button area.
 ***/
    font-family: "cj-icons";
}
.sidebar-button-bar a {
    color: #e0d7cb;
}

.filter-switcher-item a {
    border-color: #e0d7cb;
    background: #e9e6df;
    color: #808e90;
}
.filter-switcher-item a:hover,
.filter-switcher-item a:focus {
    background: #808e90;
    color: #e9e6df;
}
.filter-switcher-item a:active {
    background: #c5a184;
    color: #e9e6df;
}
.filter-switcher-item b {
    border-color: #e0d7cb;
    background: #e0d7cb;
    color: #c5a184;
    cursor: default;
}

.sidebar-listing {
    margin-right: 0;
    /*** Formats lists.
 ***/
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar-listing-item {
    /*** Formats and languages list items.
 ***/
    /* For icon positioning. */
    position: relative;
    padding-left: 1.75em;
}
.sidebar-listing-item:before {
    position: absolute;
    left: 0;
    /*** Icons.
     ***/
    font-size: 24px;
    font-size: 1.33333rem;
    line-height: 1.25;
    font-family: "cj-icons";
}
.sidebar-listing-item.format-project:before {
    content: "\e621";
    color: #706b85;
}
.sidebar-listing-item.format-tutorial:before {
    content: "\e637";
    color: #a17167;
}
.sidebar-listing-item.format-tip:before {
    content: "\e630";
    color: #c5a184;
}
.sidebar-listing-item.format-thoughts:before {
    content: "\e61a";
    color: #738fa0;
}
.sidebar-listing-item.format-off-topic:before {
    content: "\e628";
    color: #5e9776;
}
.sidebar-listing-item.format-page:before {
    content: "";
    color: #5e8c88;
}
.sidebar-listing-item a {
    padding-right: 0; 
    /* Remove link left-right padding to fix second-line alignment. */
    padding-left: 0;
}

.languages-listing-item:before {
    left: -0.1em; 
    /*** Language icons are smaller, so boost their size a little.
 ***/
    font-size: 28px;
    font-size: 1.55556rem;
    line-height: 1.07143;
}

.sidebar-search-form {
    /*** Search area.
 ***/
    padding: 15px 0;
    padding: 0.83333rem 0;
    text-align: center;
}

.search-form-field-wrap {
    margin: 0;
}
.search-form-field-wrap + .search-form-field-wrap {
    margin-top: 0.83333rem;
}

.search-input {
    width: 100%; 
    font-size: 21px;
    font-size: 1.16667rem;
    line-height: 1.42857;
}

.sidebar-filter-active,
.sidebar-filter-active:hover,
.sidebar-filter-active:focus,
.sidebar-filter-active:active {
    /*** Highlight the current sidebar filter.
     ***/
    border: 0;
    background: transparent;
    color: #c5a184;
    cursor: default;
}

@media (min-width: 1100px) {
    /*** Media query: Greater white space between the main content and sidebar.
 ***/
    .sidebar-listing {
        margin-right: 15px; 
        /*** Reinstate gutters.
     ***/
        margin-left: 15px;
    }
}
