/* ==========================================================================
 * All temporary fixes
 *
 * Used for code that is needed to fix a problem but is not the 'correct' or
 * best practice way to do things. Ideally, code should live here for as short a
 * time as possible.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/*** IE 10 and 11 hacks
 ***/
    .page-footer-section.latest-posts,
    .page-footer-section.featured-website {
    /*** Turn off buggy vertical-flexboxing of homepage latest-posts-and-
     *** featured-site row.
     ***/
        display: block !important;
    }

    .index-listing .header-illustrated .illustration img {
    /*** Better placement of listing images in IE9-11, since parallax is broken.
     ***/
        top: -150px;
    }

}

.lt-ie10 {
/*** IE9 hacks
 ***/
    .index-listing .header-illustrated .illustration img {
    /*** Better placement of listing images in IE9-11, since parallax is broken.
     ***/
        top: -150px;
    }

}
