---
title: my expertise
summary: The skills and background knowledge I can bring to your website.
permalink: whatido/expertise/
illustration: sunglasses-macbook
sortorder: 2
stylesheet: expertise
---

<p class="lead">Of course you want a web developer with great technical skills. That’s the easy part.</p>

<p>But you also need someone who can <strong>design and write</strong> in a way that appeals to your audience. Someone with the <strong>training skills</strong> to teach you how to manage your website and give great support if anything goes wrong. And, if possible, someone who really <strong>understands the sector</strong> you work in so that your website can be tailored to your specific business needs.</p>

<p>The sectors I understand best are <a href="#section-education">education and young people</a>, <a href="#section-university">university</a>, and <a href="#section-small-business">small businesses</a>. But I’m always keen to try new things and explore different trades and services in my work.</p>

<p>Read on to find out more about my key areas of expertise.</p>

</section><!-- /.content-section -->

{% comment %}
Stacked illustrated sections.
{% endcomment %}
{% capture illustrated_content %}
## education and young&nbsp;people
{: #section-education}

I've created successful websites for every age of young person from reception to adulthood, and for every ability level from 'gifted and talented' to moderate learning difficulties.

My key strengths are using the web to **recruit new students** and **provide careers advice**. My online prospectus and applications websites have been chosen as national best-practice examples, and I've delivered training in these areas to website managers across the country.
{% endcapture %}
{% include content-section-illustrated.html illustration="expertise-kids" content=illustrated_content slug="education" %}

{% capture illustrated_content %}
## university
{: #section-university}

I've worked on university websites designed to:

-  attract prospective students
-  assist with career planning
-  build alumni communities
-  fundraise for research and student support

I have a unique perspective on university web design because I recently graduated as a mature student. So I understand the full modern-day student experience, from choosing courses through to becoming an alumnus.
{% endcapture %}
{% include content-section-illustrated.html illustration="section-library" content=illustrated_content slug="university" %}

{% capture illustrated_content %}
## small business
{: #section-small-business}

I've been responsible for web design, marketing, and print design for a range of small businesses (including this one!). The clients I've worked with span the range from photographers to training providers to food businesses.

Most small business website projects need **more than just a web designer**. Often, the marketing basics like the business's brand and tone of voice aren't worked out yet, and they only come together while the website is being developed. So my marketing experience brings an extra dimension to the help I can give to your business.
{% endcapture %}
{% include content-section-illustrated.html illustration="section-photographer" content=illustrated_content slug="small-business" %}

<section class="content-section content-section-special skills">

  <h2>technologies I work&nbsp;with</h2>

  <h3>systems</h3>

  <ul class="skill-list systems">
    <li class="wordpress">
      <a href="http://wordpress.org">WordPress</a>
    </li>
    <li class="netcommunity">
      <a href="https://www.blackbaud.com/online-marketing/netcommunity">NetCommunity</a>
    </li>
    <li class="blackboard">
      <a href="http://uki.blackboard.com/sites/international/globalmaster/">Blackboard VLE</a>
    </li>
    <li class="t4">
      <a href="http://www.terminalfour.com">TerminalFour</a>
    </li>
    <li class="commonspot">
      <a href="http://www.paperthin.com">CommonSpot</a>
    </li>
    <li class="jekyll">
      <a href="http://jekyllrb.com">Jekyll</a>
    </li>
    <li class="git">
      <a href="http://git-scm.com">Git</a>
    </li>
    <li class="svn">
      <a href="http://subversion.apache.org">Subversion</a>
    </li>
    <li class="gulp">
      <a href="http://gulpjs.com">Gulp</a>
    </li>
  </ul>


  <h3>programming languages/frameworks</h3>

  <ul class="skill-list programming">
    <li class="html5">
      <a href="https://developers.whatwg.org">HTML5</a>
    </li>
    <li class="css3">
      <a href="http://tympanus.net/codrops/css_reference/">CSS3</a>
    </li>
    <li class="javascript">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
    </li>
    <li class="jquery">
      <a href="http://jquery.com">jQuery</a>
    </li>
    <li class="php">
      <a href="http://php.net">PHP</a>
    </li>
    <li class="sass">
      <a href="http://sass-lang.com">Sass</a>
    </li>
    <li class="less">
      <a href="http://lesscss.org">Less</a>
    </li>
    <li class="sql">
      <a href="http://www.mysql.com">SQL</a>
    </li>
    <li class="jqueryui">
      <a href="http://jqueryui.com">jQuery UI</a>
    </li>
    <li class="bootstrap">
      <a href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>
