/**
 * Reusable blocks of styling
 *
 * @author Chris Barnes http://www.cjbarnes.co.uk
 * @version 1.0.0
 */

/**
 * Logo
 */

/* cJ logo */

.logo {
	.circle((@vertical-rhythm * 2));
	padding: 0;
	border-width: 1px;
	font-family: @font-family-logo;
	font-size: @font-size-navbar-logo;
	line-height: (@vertical-rhythm * 2.2);
	font-weight: bold;
}


/**
 * Toolbars and dates
 */

/* Toolbars */

.button-bar {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	list-style: none;
	font-size: @font-size-huge;
	text-align: center;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	a,
	abbr,
	b {
		.circle-2x(@circle-diameter);
		display: inline-block;
		padding: 0; // remove default link padding
	}

	a {
		color: @white;
	}
}


/* Button colours */

.button-bar {

	.twitter a {
		background-color: @color-twitter;
	}

	.feed a {
		background-color: @color-rss;
	}

	.twitter a,
	.feed a {
		padding-top: 0.1em;
		font-family: @font-family-icons;

		&:hover,
		&:focus {
			background-color: @link-color;
		}

		&:active {
			background-color: @link-color-active;
		}
	}

}

/* Dates */

.date {
	.button-bar();

	.separator {
		display: none;
	}
}


/**
 * Contact details list
 */

table.circle-list {
	.invisible();

	/* Font sizes */

	td,
	th {
		padding: (@line-large / 2);
		padding-left: 0;
		font-size: @font-size-large;
		line-height: @line-height-large;
		vertical-align: middle;
	}

	/* Icons */

	tbody th {
		width: (@circle-diameter + @border-width-circle + 1);
		padding-right: @line-large;
	}

	.label {
		.circle();
		font-style: normal;
		font-family: @font-family-icons;
		font-size: (@font-size-huge / @font-size-large);

		/* Icon colours */
		&.email    { color: @color-email; }
		&.phone    { color: @color-phone; }
		&.linkedin { color: @color-linkedin; }
		&.twitter  { color: @color-twitter; }
		&.address  { color: @color-address; }
		&.feed     { color: @color-rss; }

	}


	/* Addresses row */

	.addresses {

		th,
		td {
			vertical-align: top;
		}

	}

	/* Margins for non-mobile devices */

	.breakpoint1({

		.push(1);
		.pull(1);

	});

}


/**
 * 'Timeline' of sections
 */

.timeline {

	/* Counter for 'step' numbering */
	counter-reset: timeline;

	/* Remove spacing between sections */
	h3 {
		margin-top: 0;
		padding-left: @line-larger;
		color: @toast;
	}

	/* Remove columns layout */

	.content {
		display: block;
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	/* Icons */

	section {
		counter-increment: timeline;
		.circle-box(@background-color-content);
		margin-bottom: @line;
		padding-bottom: @line;
		border-left: (@line / 2) solid @toast;

		&:before {
			top: 0;
			left: (-1 * (@line-huge / 4));
			margin-top: (-1 * (@line-huge / 4));
			border: 0;
			//font-family: @font-family-icons;
		}

		/* Triangles */

		&:after {
			@arrow-height: (@line * 0.75);
			content: '';
			display: block;
			position: absolute;
			left: ((-1 * @arrow-height) - (@line / 4));
			top: 100%;
			width: 0;
			height: 0;
			border-left: @arrow-height solid transparent;
			border-right: @arrow-height solid transparent;
			border-top: @arrow-height solid @toast;
		}
	}

	/* Individual sections' colours and icons */

	#spec {
		@section-color: lighten(@toast, 30%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '📰';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#design {
		@section-color: lighten(@toast, 20%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '✎';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#development {
		@section-color: lighten(@toast, 10%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '⚒';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#testing {
		@section-color: @toast;
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '💻';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#launch {
		@section-color: darken(@toast, 10%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '🚀';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#handover {
		@section-color: lighten(@toast, 10%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '';
			background-color: @section-color;
		}

		&:after {
			border-top-color: @section-color;
		}
	}

	#support {
		@section-color: lighten(@toast, 30%);
		border-color: @section-color;

		&:before {
			content: counter(timeline);
			// content: '';
			background-color: @section-color;
		}

		&:after {
			display: none; // hide last arrow
		}
	}

}


/**
 * Skills/technologies row of icons
 */

.skills {

	&.wide-content {
		padding-top: @line; // increased specificity to override padding
		padding-bottom: @line; // as above
		background-color: @background-color;
	}

/* Headings */

	h2,
	h3 {
		color: @toast;
		text-align: center;
	}

}

/* Icons */

.skill-list {
	.clearfix();
	display: block;
	list-style: none;

	/* The icon boxes */

	li {

		display: block;
		float: left;
		margin: 0;
		text-align: center;

		a,
		span {
			position: relative; // for the icons
			display: block;
			float: left;
			width: 8.5em;
			height: 8.5em;
			padding: 6em 0.5em 0.5em;
			border: 1px solid @background-color;
			line-height: 1em;
			color: @text-color;
			background-color: @cararra;

			/* Icon positioning */
			&:before {
				display: block;
				position: absolute;
				top: 0.5em;
				width: 100%;
				left: 0;
				font-size: @font-size-gigantic;
				font-family: @font-family-icons;
				line-height: (3em / @font-size-gigantic);
				color: @toast;
			}

		}
		a:hover,
		a:focus,
		a:active {
			border-color: @background-color;
		}

		img {
			padding-bottom: 1em;
		}

	}

	/* Icons */
	.rwd span:before               { content: "📱" }
	.system-design span:before     { content: "" }
	.copywriting span:before       { content: "⌨" }
	.training span:before          { content: "" }
	.lesson-planning span:before   { content: "🎓" }
	.technical-writing span:before { content: "" }
	.technical-support span:before { content: "📞" }
	.reporting span:before         { content: "📰" }
	.graphics span:before          { content: "" }
	.seo span:before               { content: "📈" }
	.social-media span:before      { content: "👍" }

}