/**
 * Article header/footer and container styles, used on both single posts/pages
 * and for post indexes. (See also `_content.scss` and `_title.scss`, among
 * others.)
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/* White background for article contents. */
.post,
.page {
    @include clearfix;
    background: $background-color-content;
}


/**
 * Article header.
 */

/* Output header colours for each post/item format. */
@each $format, $color in $format-colors {
    .header-#{$format},
    .masthead-#{$format} .date-unit,
    .listing .post-#{$format}:before,
    .minilisting .post-#{$format},
    .minilisting .post-#{$format}:before {
        background: $color;
    }
}

/* Illustrated post and blog index header colours. */
.header-illustrated,
.masthead-illustrated .date-unit,
.blog-page .masthead,
.listing .post-illustrated:before,
.minilisting .post-illustrated,
.minilisting .post-illustrated:before {
    background: $background-color-illustrated;
}

/*
 * Additional link styling for Link and Project items. Make links visible when
 * in the header area.
 */
.header-link a,
.header-project a {

    &:hover,
    &:focus {
        border-color: $text-color-reversed;
        background: $text-color-reversed;
        color: $link-color;
    }

    &:active {
        border-color: $link-color-active;
        background: $link-color-active;
        color: $text-color-reversed;
    }

}


/**
 * My Approach timeline 'steps'.
 */

/* Standard steps. */
.step:before,
.step-header {
    background: $color-step;
}

/* Launch step. */
.step-launch {

    &:before,
    .step-header {
        background: $color-step-launch;
    }

    /* 'what you get' subheading. */
    .step-footer h3 {
        color: $color-step-launch;
    }

}


/**
 * Article footer (metadata section).
 */

/*
 * 1. For metadata elements' positioning.
 */
.listing-footer,
.post-featured-footer {
    @include rem("min-height", ($line * 3));
    @include rem("padding-bottom", ($line * 0.5));
    position: relative; /* 1 */
    z-index: 3;
    text-align: center;
    background: $background-color-page-footer;
}

.permalink {
    @include rem("margin-left", $gutter);
}

.share,
.go-to-site {
    @include rem("margin-right", $gutter);
}


/*
 * Featured articles.
 * 1. For article footer positioning.
 */
.post-featured {
    @include clearfix;
    position: relative; /* 1 */
    background-color: $background-color-illustrated;
}

/* Metadata footer for featured articles. */
.post-footer.post-featured-footer {
    @include rem("height", $line);
    min-height: 0;
    background: transparent;

    /*
     * Adjust metadata colours and sizes to match the dark/full-width masthead.
     */
    .permalink,
    .share {
        @include font-size-leading("large");
        color: $text-color-reversed;
    }

    .permalink {
        @include rem("left", $gutter);
        margin-left: 0;
    }

    .share {
        @include rem("right", $gutter);
        margin-right: 0;
    }

}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("normal-size") {

    /* Metadata alignment. */
    .listing-footer,
    .post-featured-footer {
        padding-bottom: 0;

        /* Left- and right-aligned metadata fields. */
        .permalink,
        .share,
        .go-to-site {
            @include rem("bottom", ($line * 0.8)); // @todo: check this maths
            position: absolute;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .permalink {
            @include push;
            left: 0;
        }

        .share,
        .go-to-site {
            @include pull;
            right: 0;
        }

    }

    /* Featured article footers. */
    .post-featured-footer {
        @include column(8);
        @include push(2);
        @include pull(2);
    }

} //include media-width(normal-size)
