/* ==========================================================================
   Article header/footer and container styles, used on both single posts/
   pages and for post indexes

   (See also `_content.scss` and `_title.scss`, among others.)

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.post,
.page {
    /* White background for article contents. */
    background: $background-color-content;
}


/* Article header.
   ========================================================================== */

// Output header colours for each post/item format.
@each $format, $color in $format-colors {
    .header-#{$format},
    .masthead-#{$format} .date-unit,
    .listing .post-#{$format}:before,
    .minilisting .post-#{$format},
    .minilisting .post-#{$format}:before {
        background: $color;
    }
}

.header-illustrated,
.masthead-illustrated .date-unit,
.blog-page .masthead,
.listing .post-illustrated:before,
.minilisting .post-illustrated,
.minilisting .post-illustrated:before {
/*** Illustrated post and blog index header colours.
 ***/
    background: $background-color-illustrated;
}

.post-featured {
/*** Featured articles.
 ***/
    /* For article footer positioning. */
    position: relative;
    background-color: $background-color-illustrated;
}


/* Article footer (metadata section).
   ========================================================================== */

.listing-footer,
.post-featured-footer {
    @include rem("min-height", ($line * 3));
    @include rem("padding-bottom", ($line * 0.5));
    /* For metadata elements' positioning. */
    position: relative;
    z-index: 3;
    text-align: center;
    background: $background-color-page-footer;
}

.post-footer-language-item:before {
    @include font-size-leading("enormous");
    font-family: $font-family-icons;
}

.post-footer.post-featured-footer {
/*** Metadata footer for featured articles.
 ***/
    @include rem("height", $line);
    min-height: 0;
    background: transparent;

    .post-footer-link,
    .post-footer-permalink {
    /*** Adjust metadata colours and sizes to match the dark/full-width
     *** masthead.
     ***/
        @include font-size-leading("large");
        color: $text-color-reversed;
    }

}



/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets and wider.
 ***/
    .post-footer-link {
        @include rem("margin-left", $gutter);
    }

    .post-footer-permalink {
        @include rem("margin-right", $gutter);
    }

    .listing-footer,
    .post-featured-footer {
    /*** Metadata alignment.
     ***/
        padding-bottom: 0;

        .post-footer-permalink,
        .post-footer-link {
        /*** Left- and right-aligned metadata fields.
         ***/
            /* Vertical centring in footer line. The footer min-height is 3
             * lines, and the field height is 1 line; so there should be 1 line
             * above and 1 line below the metadata field. 0.2rem compensates for
             * the standard 0.2em padding applied to all links by default. */
            @include rem("top", ($line - 0.2rem));
            position: absolute;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .post-footer-link {
            @include push;
            left: 0;
        }

        .post-footer-permalink {
            @include pull;
            right: 0;
        }

    }

    .post-featured-footer {
    /*** Featured article footers.
     ***/
        @include column(8);
        @include push(2);
        @include pull(2);

        .post-footer-link {
            @include rem("left", $gutter);
            margin-left: 0;
        }

        .post-footer-permalink {
            @include rem("right", $gutter);
            margin-right: 0;
        }

    }

}
