/* ==========================================================================
 * Circle 'buttons' (really links) and button toolbars, and pagination
 *
 * Note: there is no specific class to create a single button. Instead, buttons
 * are link elements wrapped in a `.button-bar` toolbar element.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */

.button-bar {
/*** All button wrappers.
 ***/
    @include font-size("huge");
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    /* Fix misalignment in non-Safari browsers caused by inline-block */
    line-height: 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    a,
    b {
    /*** The buttons (both linked and unlinked/current).
     ***/
        @include circle-2x;
        display: inline-block;
        padding: 0;
    }

    a {
    /*** Linked buttons.
     ***/
        color: $white;
    }

}


/* Masthead button areas (i.e. blog pagination).
   ========================================================================== */

.masthead-button-bar {
/*** All masthead buttons.
 ***/
    /* To fix the `.title` stacking overlap. */
    z-index: 3;
    /* Move down to half-overlap the main content area below the masthead. */
    bottom: ((-1 * ($circle-diameter / 2)) - 2);

    &.pagination a {
        background: $background-color-illustrated;
        color: $text-color-reversed;
        cursor: pointer;
    }

}


/* Footer button areas.
   ========================================================================== */

.footer-button-bar {
/*** All footer buttons.
 ***/
    /* Move up to half-overlap the main content area above the footer. */
    top: ((-1 * ($circle-diameter / 2)) - 2);
}


/* Pagination.
   ========================================================================== */

.pagination {

    b {
    /*** Current page.
     ***/
        border-color: $background-color;
        /* Styled to appear 'cut out' of the footer. */
        background: $background-color;
        color: $link-color-active;
    }

    a {
    /*** Other pages.
     ***/
        border-color: $background-color;
        color: $link-color-secondary;
        background: $background-color-page-footer;

        &:hover,
        &:focus {
            border-color: $background-color;
            color: $text-color-reversed;
            background: $link-color-secondary;
        }

        &:active {
            border-color: $background-color;
            color: $text-color-reversed;
            background: $link-color-active;
        }

    }

}

.pagination-item {
    /* Fix layout bug where next/previous buttons were slightly above the
     * line. */
    vertical-align: top;
}

.pagination-item-adjacent {
/*** Next/Previous links.
 ***/
    font-family: $font-family-icons;

    b {
    /*** Make older/newer links that don't lead anywhere invisible, but don't
     *** display:none them (so the alignment of the other links doesn't change).
     ***/
        border-color: transparent;
        background: transparent;
    }

}

.pagination-pager {

    a,
    a:hover,
    a:focus,
    a:active {
        /* Adjust post-page pager for white background. */
        border-color: $background-color-content;
    }

}


/* Subscribe icon buttons (e.g. Twitter, RSS).
   ========================================================================== */

.subscribe-item a {
    font-family: $font-family-icons;
    border-color: $background-color-page-footer;
    color: $background-color-page-footer;

    &:hover,
    &:focus {
        border-color: $background-color-page-footer;
        background: $link-color;
    }

    &:active {
        border-color: $background-color-page-footer;
        background: $link-color-active;
    }

}

.subscribe-twitter a {
/*** Twitter button.
 ***/
    background: $color-twitter;
}

.subscribe-feed a {
/*** RSS button.
 ***/
    background: $color-rss;
}
