/**
 * Content area of articles, single pages, and portfolio and CV items.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/**
 * Basics
 */

.content {
    @include clearfix;
}

.content-section {
    @include clearfix;
    @include column($columns);
    @include rem("padding-top",    ($line * 1.5));
    @include rem("padding-bottom", ($line * 2.5));
    font-family: $font-family-content;
    background: $background-color-content;

    /* Remove top margin for headings at top of content area. */
    > h1:first-child,
    > h2:first-child,
    > h3:first-child {
        margin-top: 0;
    }

}

/* Don't apply grid layout to content for articles within a listing  */
.listing-content-section {
    // @todo
}

/* Complex content areas with darker backgrounds. */
.content-section-special {
    background: $background-color;
}


/**
 * Media query.
 *
 * Tablets and above.
 */
@include media-width("normal-size") {

    /* Content is still single-column, but with bigger margins, on tablets. */
    .content-section {
        @include push-interior(1, $columns, true);
        @include pull-interior(1, $columns, true);
    }

    /* Override for wider content sections, e.g. portfolio listing. */
    .content-section-wide {
        @include column($columns);
    }

    /* Centre-align item titles in full-width listings. */
    .content-section-special > h2 {
        text-align: center;
    }

} //include media-width(normal-size)


/**
 * Media query.
 *
 * Wide enough for two-column layout.
 */
@include media-width("two-columns") {

    /* Extra spacing for main content area. */
    .content-section {
        @include push-interior(2, $columns, true);
        @include pull-interior(2, $columns, true);
    }

    /* Override for wider content sections, e.g. portfolio listing. */
    .content-section-wide {
        @include column($columns);
    }


} //include media-width(two-columns)
