/* ==========================================================================
   Published date for articles, styled in three circles.

   @todo Some refactoring needed - duplication of components.less with
         articles.less.

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.date {
/*** Basic date styles. Very similar to `.button-bar`.
 ***/
    @include font-size("huge");
    position: absolute;
    right: 0;
    /* Overlap the bottom of the post header. */
    bottom: ((($circle-diameter / 2) * -1) - 1px);
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 3;
}

.date-unit {
/*** Individual date units.
 ***/
    @include circle-2x;
    display: inline-block;
    background: $background-color-masthead;
    color: $text-color-reversed;
}

.date-separator {
    /* Separators (i.e. "/") – only there for screen readers etc. */
    display: none;
}


/* Dates in article footer (used for listing pages).
   ========================================================================== */

.listing-footer {

    .date {
        @include font-size-leading("larger");
        @include rem("padding", ($line * 0.5) 0);
        position: static;
    }

    .date-unit {
    /*** Individual date parts.
     ***/
        @include circle(($circle-diameter * 0.9));
        display: inline-block;
        background-color: transparent;
        color: $link-color-secondary;

        .post-illustrated & {
        /*** White dates in footers of illustrated posts in blog index.
         ***/
            color: $text-color-reversed;
        }

    }

}

article.illustrated footer .date-unit {
/*** Dates in illustrated article footers.
 ***/
    background: $background-color-illustrated;
    color: $text-color-reversed;
}

.post-featured-footer {

    .date {
    /*** Bigger featured article dates.
     ***/
        @include font-size-leading("huge");
    }

    .date-unit {
        @include circle;
        /* Redeclare inline-block (to re-override circle mixin's
         * display:block). */
        display: inline-block;
    }

}

@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    .post-footer .date {
    /*** Dates in article footer.
     ***/
        /* Vertical centring in footer line. The footer min-height is 3 lines.
         * The date-circles height is $circle-diameter. */
        @include rem("top", ((($line-px * 3) - $circle-diameter) / 2));
        position: absolute;
        bottom: auto;
        padding: 0;
    }

}
