/* ==========================================================================
   Layout for the two footers: 'site footer' (the lower of the two footers) and
   'page footer' (the upper).

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.footer-section {
/*** Footer columns - contact details, smallprint, latest posts, etc.
 ***/
    @include rem("margin", ($line * 2) $gutter 0);
    list-style: none;
}

.footer-section-title {
/*** Remove excess header spacing.
 ***/
    @include rem("margin", 0 0 $line);
    @include font-size-leading("large");

    a {
        border-bottom: 0;
    }

}


/* Page footer.
   ========================================================================== */

.page-footer {
    @include rem("min-height", ($line * 3));
    clear: both;
    /* For alignment of button toolbars and pagination links. */
    position: relative;
    background: $background-color-page-footer;
}


/* Site footer.
   ========================================================================== */

.site-footer {
    @include rem("min-height", ($line * 4));
    @include rem("padding-bottom", $line);
    clear: both;
    z-index: 3;
    /* For alignment of button toolbars and pagination links. */
    position: relative;
    background: $background-color-site-footer;
    color: $text-color-site-footer;
}

.site-footer-item {
    margin: 0;

    a {
        @include font-size-leading("small");
        border: 0;
        color: $text-color-reversed;
    }

}

.contact-label {
/*** Contact details icons.
 ***/
    font-family: $font-family-icons;
    /* Override i element styling. */
    font-style: normal;
    color: $text-color-site-footer; // @todo try deleting this
}

.smallprint {
/*** Utility links and terms of use section.
 ***/
    margin-top: 0;
    text-align: right;
}

.smallprint-item-copyright {
/*** Copyright.
 ***/
    @include font-size-leading("small");
    color: $text-color-site-footer; // @todo try deleting this
}


/* Media queries.
   ========================================================================== */

@include media-width("footer-two-columns") {
/*** Media query: Tablets and wider.
 ***/
    .footer-section {
    /*** The two footer sections (columns). Half the footer width, less vertical
     *** spacing, more horizontal spacing. */
        @include column(($columns / 2));
        @include rem("margin", $line 0 0);
        @include rem("padding", 0 $line);
    }

    .page-footer-section {
    /*** Extra spacing for top-footer sections, to leave room for a button bar,
     *** and maximum column width to avoid layout oddities. */
        @include rem("padding-bottom", ($line * 1.5));
        max-width: 575px;
    }

}
