/**
 * Layout for the two footers: 'site footer' (the lower of the two footers) and
 * 'page footer' (the upper).
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/* Footer columns - contact details, smallprint, latest posts, etc. */
.footer-section {
    @include rem("margin", ($line * 2) $gutter 0);
    list-style: none;
}

/* Remove excess header spacing. */
.footer-section-title {
    @include rem("margin", 0 0 $line);
    @include font-size-leading("large");

    a {
        border-bottom: 0;
    }

}


/**
 * Page footer.
 */

/*
 * 1. For alignment of button toolbars and pagination links.
 */
.page-footer {
    @include clearfix;
    @include rem("min-height", ($line * 4));
    clear: both;
    position: relative; /* 1 */
    background: $background-color-page-footer;
}

/* Featured website section. */
.featured-website {
    text-align: right;
}

/* The screenshot/title wrapper link. */
.featured-website-screenshot {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: transparent;

    /* Don't highlight the image on hover. Note specificity hack. */
    .featured-website &:hover,
    .featured-website &:focus,
    .featured-website &:active {
        background: transparent;
    }

    /* The actual screenshot. */
    img {
        width: 100%;
    }

}

/* Mimic normal link padding, colours, and animation for the website title. */
.featured-website-title {
    display: inline-block;
    padding: $link-padding;
    color: $link-color;
    transition: all $link-transition-duration ease-in-out;

    a:hover &,
    a:focus & {
        background: $link-color;
        color: $text-color-reversed;
    }

    a:active & {
        background: $link-color-active;
        color: $text-color-reversed;
    }

}


/**
 * Site footer.
 */

/*
 * 1. For alignment of button toolbars and pagination links.
 */
.site-footer {
    @include clearfix;
    @include rem("min-height", ($line * 4));
    @include rem("padding-bottom", $line);
    clear: both;
    z-index: 3;
    position: relative; /* 1 */
    background: $background-color-site-footer;
    color: $text-color-site-footer;
}

.site-footer-item {
    margin: 0;

    a {
        @include font-size-leading("small");
        border: 0;
        color: $text-color-reversed;
    }

}

/*
 * Contact details icons.
 * 1. Override i element styling.
 */
.contact-label {
    font-family: $font-family-icons;
    font-style: normal; /* 1 */
    color: $text-color-site-footer; // @todo try deleting this
}



/* Utility links and terms of use section. */
.smallprint {
    margin-top: 0;
    text-align: right;
}


/* Copyright. */
.smallprint-item-copyright {
    @include font-size-leading("small");
    color: $text-color-site-footer; // @todo try deleting this
}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("footer-two-columns") {

    /*
     * The two footer sections (columns).
     *
     * Half the footer width. Less vertical spacing, more horizontal
     * spacing.
     */
    .footer-section {
        @include column(($columns / 2));
        @include rem("margin", $line 0 0);
        @include rem("padding", 0 $line);
    }

    /*
     * Extra spacing for top-footer sections, to leave room for a button bar,
     * and maximum column width to avoid layout oddities.
     */
    .page-footer-section {
        @include rem("padding-bottom", ($line * 1.5));
        max-width: 575px;
    }

    /*
     * Featured website section.
     * 1. Used to align properly to the edge when this hits the max-width.
     */
    .featured-website {
        float: right; /* 1 */
    }

} //include media-width(normal-size)
