/* ==========================================================================
   Parallax illustration styling

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.gradient {
/*** Shared styles for all gradient fades overlaying the illustrations.
 ***/
    z-index: 2;
    position: absolute;
    top: 0;
}

.illustration {
/*** Shared styles for all illustrations, including in content rows.
 ***/
    position: absolute;
    overflow: hidden;
    width: 100%;

    img {
    /*** The image itself.
     ***/
        position: absolute;
        left: 50%;
        display: block;
        transform: translate3d(0, 0, 0);
    }

}


/* Illustrated articles.
   ========================================================================== */

.header-illustrated {

    .gradient {
    /*** Gradient fade between the illustration and the article footer.
     ***/
        width: 100%;
        height: $illustration-height;
        background-image: linear-gradient(to bottom, transparent 40%, $background-color-illustrated 100%);
    }

    .illustration {
    /*** Parallax image wrapper.
     ***/
        top: 0;
        height: $illustration-height;

        img {
        /*** The image itself.
         ***/
            top: -120px;
            margin-left: ($illustration-width * -0.5);
        }

    }

}

.index-listing .header-illustrated {

    .title {
        @include rem("padding-top", ($line * 7));
    }

}


/* Illustrated mastheads.
   ========================================================================== */

.masthead-illustrated {

    .title {
        /* Leave space above page title for the photo. */
        @include rem("padding-top", ($line * 10));
    }

    .gradient {
    /*** Gradient fade between the illustration and the masthead bottom.
     ***/
        height: $illustration-height-masthead;
        background-image: linear-gradient(to bottom, transparent 55%, $background-color-illustrated 100%);
    }

    .illustration { // @todo needs a fix for IE8?
    /*** Parallax image wrapper.
     ***/
        height: $illustration-height-masthead;

        img {
        /*** The image itself.
         ***/
            top: -100px;
            margin-left: ($illustration-width-masthead * -0.5);
            // Prevents 'skip' on page load caused by javascript. Y value is
            // calculated from `top` / 4.
            // @todo Doesn't work yet - NEEDS MORE TESTING.
            transform: translate3d(0, 0, 0);
        }

    }

}


/* Mini illustrated content sections (e.g. further down the homepage).
   ========================================================================== */

.content-section-illustrated {
    @include font-size-leading("large");
    /* Parallax images positioning. */
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Default background colour for illustrated content sections. */
    background: $patina;
    color: $white;

    h2 {
        @include rem("margin", $line 0);
        color: $white;
    }

    ul {
        padding: 0;
        list-style-type: circle;
    }

    li {
        @include rem("margin", ($line / 4) 0);
    }

    p {
        margin-left: 0;
        margin-right: 0;
    }

    a {
        color: $text-color-reversed;
    }

    strong {
        background: darken($patina, 20%);
        color: $text-color-reversed;
    }

    .illustration,
    .gradient {
        /* Hide illustration and gradient overlay for mobile devices. */
        display: none;
    }

}

.content-section-illustrated-content {
/*** Content blocks within illustrated sections.
 ***/
    @include column($columns);
    @include rem("padding-bottom", $line);
    /* Overlap the gradient (which itself has a z-index). */
    z-index: 5;
    position: relative;
}


/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    .content-section-illustrated {

        .gradient {
        /*** The gradient overlay. (Hidden on mobile.)
         ***/
            display: block;
            width: 850px;
            height: 100%;

            &.right {
            /*** Gradient over right-aligned illustration image.
             ***/
                left: 50%;
                margin-left: -10.5%;
                background-image: linear-gradient(to left, transparent 40%, $patina 100%);
            }

        }

        .illustration {
        /*** The illustration wrapper. (Hidden on mobile.)
         ***/
            display: block;
            height: 100%;

            &.right img {
            /*** Right-aligned illustration image.
             ***/
                margin-left: -10%;
            }

        }

    }

    .content-section-illustrated-content {
    /*** Space out the content.
     ***/
        /* Don't overlap the illustration too far. */
        @include column(9);

        &.content-section-illustrated-content {
        /*** Specificity hack so we don't need to keep redeclaring the padding
         *** every time we change the column width.
         ***/
            /* Reinstate the bottom spacing. */
            @include rem("padding-bottom", $line);
        }

    }

}

@include media-width("wide-illustrated-content") {
/*** Media query: Space out the illustrated content sections a bit more.
 ***/
    .content-section-illustrated-content {
        @include column(8);
    }

}

@include media-width("wider-illustrated-content") {
/*** Media query: Second level of illustrated content section spacing.
 ***/
    .content-section-illustrated-content {
        @include column(7); /* 1 */
        @include push;
    }

}

@include media-width("wider-2-illustrated-content") {
/*** Media query: Third level of illustrated content section spacing.
 ***/
    .content-section-illustrated-content {
        @include column(6);
        @include push;
    }

}

@include media-width("wider-3-illustrated-content") {
/*** Media query: Fourth level of illustrated content section spacing.
 ***/
    .content-section-illustrated-content {
        @include column(5);
        @include push;
    }

}
