/* ==========================================================================
   Lists of articles and other data structures

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.listing {
    /* All content columns are full width for mobile. */
    @include rem("margin", 0 0 $line);

    > h2 {
    /*** Listing title - used for My Approach page.
     ***/
        @include rem("margin", 0 0 ($line * 2));
        text-align: center;
        color: $text-color-listing-headings;
    }

}

.listing-item {
/*** Icon placement and style.
 ***/
    @include rem("margin-bottom", ($line * 2));
    @include circle-box($background-color);

    &:before {
    /*** Icon colours and fonts.
     ***/
        font-family: $font-family-icons;
        color: $background-color;
    }

    // Loop through icons themselves.
    @each $format, $icon in $format-icons {
        &.post-#{$format}:before {
            content: "#{$icon}";
        }
    }

    &.post-illustrated,
    &.page {
        /* Fix gradient overflow when the item is illustrated. */
        overflow: hidden;
    }

    &.post-illustrated:before,
    &.page:before {
        /* No icon for illustrated articles in full-size listings. */
        display: none;
    }

    .content {
        background: $background-color-content;
    }

    .post-footer {

        .post-footer-link,
        .post-footer-permalink {
            /* Prevent post publication date from overlaying the footer links
             * (which prevents clicking on the links). */
            z-index: 4;
        }

    }

    &.post-link .content {
        /* Make direct link box flush with footer top. */
        padding-bottom: 0;
    }

    &.post-illustrated {

        &,
        .post-footer {
            /* Illustrated post dark background. */
            background: $background-color-illustrated;
        }

        .post-footer {

            .post-footer-link,
            .post-footer-permalink {
                /* Reversed text for dark footer of illustrated posts. */
                color: $text-color-reversed;
            }

        }

    }

    &.post-long {

        .footnote,
        .footnotes {
            /* Don't show footnotes in excerpts, only in full post content. */
            display: none;
        }

    }

}

.read-more {
    font-family: $font-family-brand;
}


/* Blog/index listing.
   ========================================================================== */

.page-illustrated .index-listing-header {
    /* Bottom spacing for footer-less illustrated items. */
    padding-bottom: $line;

    .title-summary {
        margin-bottom: 0;
    }

}

.page .index-listing-item {
    /* For index pages, don't space listing items out for mobile. */
    margin-bottom: 0;
}

.index-listing-heading {
/*** Title of the listing area.
 ***/
    color: $text-color-listing-headings;
}

.index-listing-content {
/*** Content area.
 ***/
    @include rem("padding-bottom", $line);
    font-family: $font-family-content;

    &:first-child {
        /* More top spacing when there is no header area for this post. */
        @include rem("padding-top", $line);
    }

    h1,
    h2,
    h3,
    h4 {
        /* Remove excess heading margins. */
        @include rem("margin-top", $line);
    }

    h1 {
        @include rem("margin-bottom", $line);
    }

}


@include media-width("normal-size") {
/*** Media query: Tablets and above.
 ***/
    .page .index-listing-item {
        /* Reinstate spacing between listing items. */
        @include rem("margin-bottom", ($line * 2));
    }

}
