/**
 * Reusable component for the cJ logo, usually with the containing circle
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

.logo {
    @include circle($line-px * 2);
    padding: 0;
    border-width: 1px;
    font-family: $font-family-logo;
    font-size: $font-size-navbar-logo;
    line-height: ($line-px * 2.2);
    font-weight: bold;
}


/**
 * Main site logo in navbar.
 */

.nav-logo {
    @include rem("margin", $logo-margin $logo-margin 0 0);
    @include alpha("border-color", $logo-color-light, 0.8);
    @include alpha("color", $logo-color-light, 0.8);
    float: right;
    transition: all 0.5s ease-in-out;
}

/* Colour changes for navbar logo on light backgrounds. */
.light-masthead {

    /* Darker logo for more contrast with light pictures. */
    .nav-logo {
        border-color: $logo-color-dark;
        color: $logo-color-dark;
    }

    /* Menu open: go to logo hover colour for open-menu dark background. */
    &.open .nav-logo {
        border-color: $text-color-reversed;
        color: $text-color-reversed;
    }

}


/**
 * Footer logo - hidden for mobile.
 */

.footer-logo {
    display: none;
}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("normal-size") {

    /*
     * Ornamental cJ logo in lower footer.
     * 1. Horizontal centring for abs-pos element.
     * 2. Hidden for mobiles.
     */
    .footer-logo {
        @include rem("bottom", ($line * 2));
        @include rem("margin", 0 0 0 ($line * -1)); /* 1 */
        @include font-size-leading("gigantic", 2);
        position: absolute;
        left: 50%; /* 1 */
        display: block; /* 2 */
        border: 0;
        border-radius: 0;
        text-shadow: 0 0 5px lighten($background-color-site-footer, 15%);
        color: $background-color-site-footer;
    }

}


/**
 * Media query.
 *
 * Horizontal nav layout.
 */
@include media-width("nav-horizontal") {

    /* Bigger margins for logo. */
    .nav-logo {
        @include rem("margin", ($line / 2) $line 0 0);
    }

    /*
     * Logo hover borderless style. (Background colour is set later.)
     * 1. Redeclare color to override .light-masthead logo colour.
     */
    .nav:hover .nav-logo {
        border-color: transparent;
        color: $text-color-reversed; /* 1 */
    }

}
