/* ==========================================================================
 * Reusable component for the cJ logo, usually with the containing circle
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */

.logo {
    @include circle($line-px * 2);
    padding: 0;
    border: 0;
    font-family: $font-family-logo;
    font-size: $font-size-navbar-logo;
    line-height: ($line-px * 2.2);
    font-weight: normal;
}


/* Main site logo in navbar.
   ========================================================================== */

.nav-logo {
    @include rem("margin", $logo-margin $logo-margin 0 0);
    @include alpha("background", $logo-color-light, 0.6);
    float: right;
    box-shadow: 0 0 10px $black;
    color: $logo-color-dark;
    transition: all 0.5s ease-in-out;

    // Post formats.
    @each $format, $color in $format-colors {
        .masthead-#{$format} & {
            color: $color;
            box-shadow: none;
        }
    }

    .masthead-illustrated & {
    /*** Illustrated article/page.
     ***/
        color: $background-color-illustrated;
        box-shadow: 0 0 10px $black;
    }

    .nav:hover & {
        box-shadow: 0 0 10px $white;
        color: $logo-color-light;
    }

}

.masthead-reversed .nav-logo {
/*** Darker logo for more contrast with light pictures.
 ***/
    @include alpha("background", $logo-color-dark, 0.6);
    box-shadow: 0 0 10px $white;
    color: $logo-color-light;
}


/* Footer logo.
   ========================================================================== */

.footer-logo {
    /* Hidden for mobile. */
    display: none;
}


/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets and wider.
 ***/
    .footer-logo {
    /*** Ornamental cJ logo in lower footer.
     ***/
        @include rem("bottom", ($line * 2));
        /* Horizontal centring. */
        @include rem("margin", 0 0 0 ($line * -1));
        @include font-size-leading("gigantic", 2);
        position: absolute;
        /* Horizontal centring. */
        left: 50%;
        /* Was hidden for mobiles. */
        display: block;
        text-shadow: 0 0 5px lighten($background-color-site-footer, 15%);
        color: $background-color-site-footer;
    }

}

@include media-width("nav-horizontal") {
/*** Media query: Horizontal nav layout.
 ***/
    .nav-logo {
        /* Bigger margins for logo. */
        @include rem("margin", ($line / 2) $line 0 0);
    }

}
