/**
 * Layout styles for page masthead
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/*
 * The masthead.
 * 1. For date positioning.
 */
main > header,
.single > header {
    @include clearfix;
    position: relative; /* 1 */
    background: $background-color-masthead;
}

/* Illustrated masthead on blog index page. */
.index .masthead {
    background: $background-color-illustrated;
}


/*
* Title and teaser in masthead.
* 1. Stack title above the illustration and gradient.
*/
main > header .title,
.single > header .title {
    @include rem("padding-top",    ($line *   3));
    @include rem("padding-bottom", ($line * 2.5));
    position: relative; /* 1 */
    z-index: 2; /* 1 */

    /* Page/post title. */
    h1 {
        @include rem("padding", ($line * 1.5) 0 0);
        @include font-size-leading("gigantic", 2.5);
        margin: 0;
        color: $text-color-reversed;
    }

    /* Excerpt. */
    h2 {
        @include rem("padding-top", ($line * 1.5));
        @include font-size-leading("larger");
        margin: 0;
        color: $text-color-reversed;
    }

    /* 'Featured article' label. */
    .label {
        @include font-size-leading("larger");
        display: block;
        font-style: normal;
        color: $text-color-reversed;
    }

} //main>header .title, .single>header .title


/**
 * Illustrated mastheads.
 */

main.illustrated > header,
.single.illustrated > header {
    background: $background-color-illustrated;
}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("normal-size") {

    /* The masthead. */
    main > header,
    .single > header {

        /**
         * Spacing either side of the main page title, for normal screen widths.
         * 1. Reinstate the vertical margins (for footer placement).
         */
        .title {
            @include column(8);
            @include push(2);
            @include pull(2);
            @include rem("padding-top",    ($line *   3)); /* 1 */
            @include rem("padding-bottom", ($line * 2.5)); /* 1 */
        }

    }

} //include media-width(normal-size)
