/* ==========================================================================
   Layout styles for page masthead

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.masthead {
    /* For date positioning. */
    position: relative;
    background: $background-color-masthead;

    .title {
    /*** The title-and-teaser wrapper.
     ***/
        @include rem("padding-top",    ($line * 4.5));
        @include rem("padding-bottom", ($line * 2.5));
        /* Stack title above the illustration and gradient. */
        position: relative;
        z-index: 2;
        /* Prevent horizontal scrolling on mobile, e.g. on homepage. */
    }

    .title-main {
    /*** Page/post title.
     ***/
        @include rem("padding", 0);
        margin: 0;
        color: $text-color-reversed;

        .page &,
        .blog-page & {
            @include font-size-leading("gigantic", 2.5);
        }

    }

    .title-summary {
    /*** Excerpt.
     ***/
        @include rem("padding-top", ($line * 1.5));
        @include font-size-leading("larger");
        margin: 0;
        color: $text-color-reversed;
    }

    .title-label {
    /*** Format/'featured'/'link' label.
     ***/
        @include rem("padding-bottom", $line);
        @include font-size-leading("larger");
        display: block;
        font-style: normal;
        color: $text-color-reversed;
    }

}

.masthead-illustrated {
    /* To make sure the full parallax image is contained within. */
    min-height: 500px;
    background: $background-color-illustrated;
}

@include media-width("normal-size") {
/*** Media query: Tablets and wider.
 ***/
    .masthead .title {
    /*** Add spacing either side of the main page title, for normal screen
     *** widths.
     ***/
        @include column(10);
        @include push;
        @include pull;
        /* Reinstate the vertical margins (for footer placement). */
        @include rem("padding", ($line * 4.5) 0 ($line * 2.5));
    }

    .masthead .title-main {
        /* Bring posts' title size into line with pages'. */
        @include font-size-leading("gigantic", 2.5);
    }

}

@include media-width("full-width-content") {
/*** Media query: Tablets and wider.
 ***/
    .masthead .title {
    /*** Add spacing either side of the main page title, for normal screen
     *** widths.
     ***/
        @include column(8);
        @include push(2);
        @include pull(2);
        /* Reinstate the vertical margins (for footer placement). */
        @include rem("padding", ($line * 4.5) 0 ($line * 2.5));
    }

}
