/* ==========================================================================
   Small, bulleted-list-style listings of articles and other data structures

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


.minilisting {
/*** ul element.
 ***/
    @include rem("margin", 0 0 0 $gutter);
    padding: 0;
    list-style: none;
    counter-reset: results;
}

.minilisting-item {
/*** The individual post list item.
 ***/
    @include circle-box-mini($background-color);
    @include rem("margin", ($line / 2) 0 ($line / 2) ($circle-diameter / 4));
    position: relative;

    &:before {
    /*** Icon.
     ***/
        /* Overlap the child link element. */
        z-index: 2;
        font-family: $font-family-icons;
        color: $background-color-page-footer;
    }

    // Loop through the icons themselves.
    @each $format, $icon in $format-icons {
        &.post-#{$format}:before {
            content: "#{$icon}";
        }
    }

    a {
        @include rem("padding", ($line / 4) ($line / 2) ($line / 4) $line);
        /* For the search results count alignment. */
        position: relative;
        display: block;
        /* Override the faux underlining (it will be reapplied to the child
         * element). */
        border-bottom: 0;
        color: $text-color-reversed;
    }

}

.minilisting-title-main {
/*** The actual title (styled like a link).
 ***/
    @include font-size-leading( "small" );
    padding: $link-padding 0;
    border-bottom: 1px solid;
    font-family: $font-family-headings;
}

.filter-minilisting-item {
    /* Hide filter/search results until displayed using javascript. */
    display: none;

    &:before {
        /* Change icon/border colour to match the blog index background. */
        color: $background-color;
    }

    a {

        &,
        &:hover,
        &:focus {
        /*** Footer-mimicking right border 'stripe'. Contains search result no.
         ***/
            @include rem("border-right-width", $line);
            border-right-style: solid;
            border-right-color: $background-color-page-footer;
        }

        &:after {
        /*** Search result number.
         ***/
            /* As wide as the border-right (for easier alignment). */
            @include rem("width", $line);
            @include rem("margin-top", ($line * -0.5));
            content: counter(results);
            position: absolute;
            top: 50%;
            left: 100%;
            text-align: center;
            color: $link-color-secondary;
        }

    }

}
