/* ==========================================================================
 * Main navigation styles
 *
 * Contains both the vertical, mobile-friendly 'menu' layout and the wider,
 * horizontal 'navbar' layout.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */


/* Nav container.
   ========================================================================== */

.nav {
    z-index: 10;
    position: absolute;
    width: 100%;
    max-height: 70px;
    /* Overflow:visible prevents menu overlapping header when closed. */
    overflow: visible; // @todo RE-CHECK.
    transition: background-color 0.5s ease-in-out;

}

.nav-level-1 {
/*** The navigation menu.
 ***/
    @include rem("padding", 0 0 ($line / 2));
    @include font-size-leading("large");
    margin: 0;
    font-size: 1.2em;
    transition-property: transform opacity;
    transition-duration: $navbar-transition-duration;
    transition-timing-function: ease-in-out;

    .closed & {
    /*** Animate out when button toggle clicked.
     ***/
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    .open & {
    /*** Animate in when button toggle clicked.
     ***/
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

.nav-item {
    /* For submenu positioning. */
    position: relative;
    margin: 0;
    list-style: none;

    a {
    /*** Nav item links and menu toggle button.
     ***/
        display: block;
        border: 0;
        border-radius: 0;

        &,
        &:visited {
            color: $text-color-navbar;
        }

    }

}

.nav-item-level-1 > a {
/*** Nav item links: top level.
 ***/
    @include rem("padding", ($line / 2));
    display: block;
}

.nav-level-2 {
/*** Submenus.
 ***/
    @include rem("margin", 0 0 ($line / 2) ($line / 2));
    padding: 0;
}

.nav-item-level-2 a {
    @include rem("padding", ($line / 4));
    @include font-size-leading("small");

    &:before {
        /* Add a dash to separate subnav items from main nav. */
        content: '– ';
    }

}


/* Menu toggle button (mobile only).
   ========================================================================== */

.nav-menu-toggle {
    @include rem("padding", ($line / 1.5) ($line / 2));
    @include font-size-leading("larger");
    @include alpha("background", $white, 0.6);
    display: block;
    /* Height to match the navbar logo: diameter + margin + 2px. */
    height: ($navbar-logo-size + (($logo-margin * $base-font-size) / 1rem) + 2px); // @todo REVISIT.
    /* Increased width to increase the tap target area. */
    min-width: 25%;
    border: 0;
    border-radius: 0;

    .open & {

        &:after {
            /* Add colon to 'Menu' label when menu is open. */
            content: ":";
        }

    }

}


/* Navbar colours.
   ========================================================================== */

.nav-logo,
.nav-menu-toggle {

    // Post formats.
    @each $format, $color in $format-colors {
        $bg_color: mix($color, $logo-color-dark, 50%);
        .masthead-#{$format} & {
            @include alpha("background", $bg_color, 0.6);
        }
    }

    &,
    .masthead-illustrated & {
        @include alpha("background", $logo-color-dark, 0.6);
        color: $logo-color-light;
    }

}

.nav-level-1,
.nav.open {

    // Post formats.
    @each $format, $color in $format-colors {
        $bg_color: mix($color, $logo-color-dark, 50%);
        .masthead-#{$format} & {
            @include alpha("background", $bg_color, 0.9);
        }
    }

    &,
    .masthead-illustrated & {
        @include alpha("background", $logo-color-dark, 0.9);
        color: $logo-color-light;
    }

}

.nav-level-2 {

    // Post formats.
    @each $format, $color in $format-colors {
        $bg_color: mix($color, $logo-color-dark, 50%);
        .masthead-#{$format} & {
            background: $bg_color;
        }
    }

    &,
    .masthead-illustrated & {
        background: $logo-color-dark;
        color: $logo-color-light;
    }

}


/* Media queries.
   ========================================================================== */

@include media-width("nav-horizontal") {
/*** Media query: Horizontal nav layout.
 ***/
    .nav {
        /* Remove max-height set for menu overflowing on mobile layout. */
        max-height: 10000em;

        &.open {
            /* Remove open/closed styling difference (which is mobile only). */
            background: transparent;
        }

    }

    .nav:hover {
    /*** Use mobile 'open' colour for hover as well.
     ***/
        // Post formats.
        @each $format, $color in $format-colors {
            $bg_color: mix($color, $logo-color-dark, 50%);
            .masthead-#{$format} & {
                @include alpha("background", $bg_color, 0.6);
            }
        }

        &,
        .masthead-illustrated & {
            @include alpha("background", $logo-color-dark, 0.6);
        }

        .nav-level-2 {

            // Post formats.
            @each $format, $color in $format-colors {
                $bg_color: mix($color, $logo-color-dark, 50%);
                .masthead-#{$format} & {
                    @include alpha("background", $bg_color, 0.9);
                }
            }

            &,
            .masthead-illustrated & {
                @include alpha("background", $logo-color-dark, 0.9);
            }

        }

    }

    .nav-level-1 {

        .open &,
        .closed & {
        /*** Remove mobile menu sizes and animations.
         ***/
            @include font-size-leading("normal");
            padding: 0;
            background: transparent;
            opacity: 1;
            transition: none;
            transform: none;
        }

    }

    .nav-item {
        /* Nav item wrapper positioning. */
        float: left;

        a {
            /* Nav item link label centring. */
            text-align: center;
        }

        &.active > a,
        &.active > button {
        /*** Current item.
         ***/
            @include alpha("background", $white, 0.6);
            color: $text-color;
        }

        a:hover,
        a:focus {
        /*** Reverse item colours on hover/active.
         ***/
            @include alpha("background", $white, 0.8);
            color: $text-color;
        }

        a:active {
        /*** Current item.
         ***/
            @include alpha("background", $white, 0.6);
            color: $text-color;
        }

    }

    .nav-item-level-1 > a {
    /*** Top level menu links.
     ***/
        @include rem("padding", $line ($line * 0.75));

        .masthead-illustrated & {
            /* Shadow for overlay of illustrations. */
            text-shadow: 0 0 10px $black;
        }

        .masthead-reversed & {
            color: $text-color;
            text-shadow: 0 0 10px $white;
        }

    }

    .masthead-illustrated .active > a,
    .masthead-illustrated .nav:hover a {
        /* Remove shadow for highlighted link. */
        text-shadow: none;
    }

    .masthead-reversed .nav:hover .nav-item-level-1 {

        > a {
            /* Light backgrounds hover. */
            color: $text-color-reversed;
        }

        > a:hover,
        > a:focus,
        > a:active,
        &.active > a {
            /* Light backgrounds hover. */
            color: $text-color;
        }

    }

    .nav-level-2 {
    /*** Submenus.
     ***/
        /* Leave room at top of submenu for the overlapping navbar (main
         * menu). */
        @include rem("padding-top", ($line * 3));
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 2px;
        opacity: 0;
        transition: all $navbar-horizontal-transition-duration ease-in-out;
        /* Submenus start offscreen, and fly in-out on navbar hover. */
        transform: translate3d(0, -105%, 0);

        .nav:hover & {
            opacity: 1;
            /* Animate submenus in on navbar hover. */
            transform: translate3d(0, 0, 0);
        }

    }

    .nav-item-level-2 {
        /* Lay out vertically, as mobile layout. */
        float: none;
        overflow: hidden;

        a:before {
        /*** Remove dashes from submenu items, added in on mobile.
         ***/
            content: "";
            display: none;
        }

    }

    .nav-menu-toggle {
        /* Hide mobile-only menu toggle button. */
        display: none;
    }

}

@include media-width("nav-horizontal-wide") {
/*** Media query: Horizontal nav layout with bigger text.
 ***/
    .nav-item-level-1 > a {
    /*** Top-level menu.
     ***/
        @include rem("padding", $line ($line * 0.75));
        @include font-size-leading("large");
    }

    .nav-item-level-2 a {
    /*** Submenus.
     ***/
        @include rem("padding", ($line / 2));
        @include font-size-leading("normal");
    }

}

@include media-width("nav-horizontal-wider") {
/*** Media query: Horizontal nav layout with still bigger text and more spacing.
 ***/
    .nav-item-level-1 > a {
        /* Space out top-level menu items more. */
        @include rem("padding", $line);
    }

}

@media (max-width: map-get($breakpoints, "nav-horizontal")) {
/*** Media query: Not wide enough for horizontal menu.
 ***/
    .no-js {
    /*** Tiny-horizontal nav layout for mobile devices with JS off, since we
     *** can't use the toggle-button approach with JS off (without major
     *** drawbacks anyway).
     ***/
        .nav {
            position: static;
            height: auto;
            max-height: 100%;
        }

        .nav-item {
            display: inline-block;
        }

        .nav-logo {
            /* Show the logo above the nav background. */
            z-index: 5;
            color: $logo-color-dark;
        }

        .nav-level-2 {
            /* No submenus in tiny-horizontal layout */
            display: none;
        }

    }

    @media (max-height: $breakpoint-short-mobile-nav) {
    /*** Media query: mobile menu with screen that isn't tall enough to show 2
     *** levels on one screen-height.
     ***/
        .nav-level-2 {
            display: none;
        }
    }

}
