/**
 * Layout for the 'page footer' (the upper of the two footers).
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/*
 * 1. For alignment of button toolbars and pagination links.
 */
main > footer,
.single > footer {
  @include clearfix;
  @include rem("min-height", ($line * 4));
  clear: both;
  position: relative; /* 1 */
  background: $background-color-page-footer;


  /*
   * @todo: check the stuff below. Should it be moved to breakpoint 1?
   */

  /* Footer sections - padding above and below, but not in-between. */
  section {
    @include column($columns);
    @include rem("padding-top", ($line));

    + section {
      @include rem("padding-bottom", ($line * 2));
    }

  }

  /* Hide content columns on smaller screens. */
  .portfolio-featured,
  .blog-recent,
  .endorsement-featured {
    display: none;
  }

  /* Headings in footer. */
  h2 {
    @include rem("margin", $line, 0, ($line / 2));
    @include font-size-leading("large");
    color: $text-color;
  }


  /* Featured website box contents. */
  .portfolio-featured figure {
    margin-top: 0;
    padding: 0;

    img {
      border: 1px solid $white;
    }

    figcaption {
      margin-left: 0;
      margin-right: 0;
    }

  }

}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("normal-size") {

  main > footer,
  .single > footer {

    /* Two-column footer layout. */
    section {
      @include column(5);
      @include rem("padding-top",    $line);
      @include rem("padding-bottom", $line);
    }


    /**
     * Homepage footer listing boxes
     */

    /* Re-show the footer content (hidden on mobile layouts). */
    .portfolio-featured,
    .blog-recent,
    .endorsement-featured {
      display: block;
    }

    .blog-recent {
      @include push(2);
    }

    .portfolio-featured,
    .endorsement-featured {

      &,
      h2 {
        text-align: right;
      }

    }

  }

  footer .listing {
    @include column(4);
  }

} //include media-width(normal-size)
