/**
 * Layout for the 'page footer' (the upper of the two footers).
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/*
 * 1. For alignment of button toolbars and pagination links.
 */
.page-footer {
    @include clearfix;
    @include rem("min-height", ($line * 4));
    clear: both;
    position: relative; /* 1 */
    background: $background-color-page-footer;
}
