/**
 * Sidebar styling (for listing pages, e.g. the blog index)
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/* All content columns are full width for mobile. */
.sidebar {
  @include column($columns);
}

/* Formats lists. */
.sidebar-listing {
    list-style: none;
    padding-left: 0;
}

/*
 * Formats list items.
 * 1. For icon positioning.
 */
.sidebar-listing-item {
    position: relative; /* 1 */
    padding-left: 1.75em;

    /* Icon colours and fonts.. */
    &:before {
        @include font-size-leading("larger");
        position: absolute;
        left: 0;
        font-family: $font-family-icons;
    }

    /* Loop through icons themselves. */
    @each $format, $icon in $format-icons {
        &.format-#{$format}:before {
            content: "#{$icon}";
            color: map-get($format-colors, $format);
        }
    }

    /* Tags icon. */
    &.tag:before {
        content: "\e70c";
        color: $color-tags;
    }

}

/*
 * Tag cloud.
 */
.tagcloud {

}

.tagcloud-item {
    @include font-size-leading("smaller", 1.5);
    padding-left: 0;
    padding-right: 0;
    font-family: $font-family-content;

    /* Tagcloud size increases. */
    b {
        @include font-size-leading("small", 1.5);
        padding: 0;
        background: none;
        color: inherit;

        b {
            @include font-size-leading("normal", 1.5);

            b {
                @include font-size-leading("large", 1.5);

                b {
                    @include font-size-leading("larger", 1.5);
                }

            }

        }

    }

}

/* Highlight the current sidebar filter. */
.sidebar-filter-active {

    &,
    &:hover,
    &:focus,
    &:active {
        border: 0;
        background: transparent;
        color: $link-color-active;
        cursor: default;
    }

}


/**
 * Media query.
 *
 * Tablets and above.
 */
@include media-width("normal-size") {

  /* Content is still single-column, but with bigger margins, on tablets. */
  .blog-sidebar {
    @include column(10);
    @include push;
    @include pull;
  }

} //include media-width(normal-size)


/**
 * Media query.
 *
 * Wide enough for two-column layout.
 */
@include media-width("two-columns") {

  /* Lay out sidebar as a sidebar (only happens for widest layouts). */
  .blog-sidebar {
    @include column(3);
    @include push(0);
    @include pull(0);
  }

} //include media-width(two-columns)
