/* ==========================================================================
   Article title areas, used on both single posts/pages and for post indexes.

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


.title {
    position: relative;
    /* Stay on top of illustration and gradient. */
    z-index: 2;
}

.title-main {
    @include rem("padding", $line 0);
    margin: 0;
    color: $text-color-reversed;

    a {
    /*** Links in titles.
     ***/
        padding: 0 0 ($link-padding / 2);
        color: inherit;
    }

}

.title-summary {
/*** Subtitle/excerpt.
 ***/
    @include rem("margin", 0 0 $line);
    @include font-size-leading("normal");
    font-family: $font-family-content;
    text-align: left;
    color: $text-color-reversed;
}

.title-label {
/*** Format label.
 ***/
    @include rem("padding", $line 0 0);
    @include font-size-leading("large");
    display: block;
    font-style: normal;
    color: $text-color-reversed;

    + .title-main {
        /* Reduce padding of succeeding title. */
        padding-top: 0;
    }

}

.header-illustrated {

    .title-main,
    .title-label {
    /*** Illustrated article: title and format label.
     ***/
        text-shadow: 0 0 10px $black;
    }

    .title-main a {

        &:hover,
        &:focus,
        &:active {
            text-shadow: none;
        }

    }

}

@include media-width("normal-size") {
/*** Media query: Tablets and wider.
 ***/
    .title {
        @include push;
        @include pull;
    }

}
