<!DOCTYPE html>
<!--[if lt IE 8]>      <html lang="en-GB" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-GB" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-GB" prefix="og: http://ogp.me/ns#" class="no-js"> <!--<![endif]-->

{% comment %} Assemble the browser title. {% endcomment %}
{% capture the_title %}
{% if page.browser_title %}
  {{ page.browser_title | strip_html }}
{% else %}
  {% if page.title %}
    {{ page.title | strip_html }}
  {% elsif page.format %}
    {{ page.format }}
  {% endif %}
  {% if page.date %}
    | {{ page.date | date: '%d/%m/%y' }}
  {% endif %}
 | web design by cJ barnes
{% endif %}
{% endcapture %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Metadata -->
<title>{{ the_title | strip_newlines }}</title>
<meta name="description" content="{{ page.excerpt | strip_html }}">

<!-- High-priority webfonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300">

<!-- Compiled Sass -->
<link rel="stylesheet" href="/css/styles.min.css?{{ site.version }}">
{% if page.stylesheet %}<style>
{% include css/{{ page.stylesheet | slugify }}.min.css %}
</style>{% endif %}

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-title" content="cJ barnes">
<meta name="application-name" content="cJ barnes">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#282828">

<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" title="cJ barnes: blog feed" href="{{ site.url}}/feed.xml">

<!-- Open Graph metadata -->
<meta property="og:title" content="{{ the_title | strip_newlines }}">
<meta property="og:description" content="{{ page.excerpt | strip_newlines }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:locale" content="en_GB">
<meta property="og:site_name" content="web design by cJ barnes">
{% if page.date %}
<meta property="og:type" content="article">
<meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
<meta property="og:article:author" content="{{ page.author }}">
{% for tag in page.tags %}
<meta property="og:article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}
{% if page.illustration %}
<meta property="og:image" content="{{ site.url }}/img/{{ include.image }}.jpg">
{% else %}
<meta property="og:image" content="{{ site.url }}/apple-touch-icon.png">
{% endif %}

<!-- Twitter card metadata -->
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@cJbarnesUK">
<meta property="twitter:creator" content="@cJbarnesUK">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

<!-- Respond.js polyfill for media queries in IE.old -->
<!--[if lt IE 9]>
    <script src="/js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
<![endif]-->
</head>

{% comment %} Work out the body's classlist for this page/post. {% endcomment %}
{% include bodyclass.html %}
<body class="{{ bodyclass | strip_newlines }}" id="cjbarnes-co-uk">
<!--[if lt IE 8]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
<![endif]-->
