{% comment %}
Assemble masthead classes for the header element.

Must pass in argument 'page', which should be the post or page object for
this article.

Classes added:
  - header
  - header-[format]      This post's format (e.g. 'tip').
  - header-illustrated   Whether the header contains a feature image.
  - masthead
  - masthead-[format]    This post's format (e.g. 'tip').
  - masthead-illustrated Whether the masthead contains a feature image.
  - reversed             Marker for light illustrations (which therefore should
                         have dark header elements overlayed on them.)
{% endcomment %}
{% capture headerclass %}
header
{% if include.page.format %} header-{{ include.page.format }} {% endif %}
{% if include.page.image %} header-illustrated {% endif %}
{% comment %} Masthead header element only. {% endcomment %}
{% if include.masthead %}
  masthead
  {% if include.page.format %} masthead-{{ include.page.format }} {% endif %}
  {% if include.page.image %} masthead-illustrated {% endif %}
{% endif %}
{% endcapture %}
