<!-- Feature image -->
<div class="illustration">
{% if include.ishome %}
  <img src="/img/{{ include.image }}.jpg" srcset="/img/{{ include.image }}_mobile.jpg 700w, /img/{{ include.image }}@2x.jpg 2800w, /img/{{ include.image }}.jpg 1400w" sizes="(max-width: 700px) 700px, 1400px">
{% else %}
  <img src="/img/{{ include.image }}.jpg">
{% endif %}
</div>
<!--
  A dirty, lazy, horrid presentational element. There was no other
  way. I'm very sorry...I don't know how I'll live with myself...
-->
<div class="gradient"></div>
