<!-- Navigation bar -->
<nav id="navbar" class="open">

	<!-- cJ logo -->
	<h1 class="logo" title="cJ barnes"></h1>

	<!-- Main nav -->
	<ul id="site-navigation">
		<li>
			<a href="/">home</a>
		</li>
		<li class="parent">
			<a href="/whatido/">what I do</a>
			<ul class="subnav">
				<li>
					<a href="/whatido/approach/">my approach</a>
				</li>
				<li>
					<a href="/whatido/expertise/">expertise</a>
				</li>
				<li>
					<a href="/whatido/results/">results</a>
				</li>
				<li>
					<a href="/whatido/idont/">I don’t...</a>
				</li>
			</ul>
		</li>
		<li class="parent">
			<a href="/whativedone/">what I’ve done</a>
			<ul class="subnav">
				<li>
					<a href="/whativedone/portfolio/">portfolio</a>
				</li>
				<li>
					<a href="/whativedone/cv/">c.v.</a>
				</li>
				<li>
					<a href="/whativedone/kindwords/">kind words</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/blog/">blog</a>
		</li>
		<li>
			<a href="/contact/">contact me</a>
		</li>
	</ul>

</nav><!-- #navbar -->