<!-- Navigation bar -->
<nav class="nav open" id="navbar">

	<!-- cJ logo -->
	<h1 class="logo nav-logo" title="cJ barnes">&#xE600;</h1>

	<!-- Main nav -->
	<ul class="nav-list nav-level-1" id="site-navigation">
  {% for nav in site.data.nav %}

    {% comment %} Check whether this is the current nav item. {% endcomment %}
    {% assign active = '' %}
    {% if nav.path == page.url %}
      {% assign active = ' active' %}
    {% elsif 'homepage' == nav.special and '/index.html' == page.url %}
      {% assign active = ' active' %}
    {% elsif 'blog' == nav.special and (include.blog or page.date) %}
      {% assign active = ' active' %}
    {% endif %}

    {% comment %} Check whether this nav item has a subnav. {% endcomment %}
    {% assign has-subnav = '' %}
    {% if nav.children %}
      {% assign has-subnav = ' nav-item-has-subnav' %}
    {% endif %}

    <li class="nav-item nav-item-level-1{{ active }}{{ has-subnav }}">
      <a href="{{ nav.path }}">{{ nav.name }}</a>
    {% comment %} Output the second-level nav. {% endcomment %}
    {% if nav.children %}
      <ul class="nav-list nav-level-2">
      {% for subnav in nav.children %}
        <li class="nav-item nav-item-level-2{% if subnav.path == page.url %} active{% endif %}">
          <a href="{{ subnav.path }}">{{ subnav.name }}</a>
        </li>
      {% endfor %}
      </ul><!-- /.nav-level-2 -->
    {% endif %}
    </li>
  {% endfor %}
  </ul><!-- /.nav-level-1 -->

</nav><!-- /.nav -->
