<!-- Title and teaser -->
<div class="title">

{% if include.format %}
  <i class="title-label title-label-{{ include.format }}">{% if include.featured %}featured {% endif %}{{ include.format }}{% if include.link %} link{% endif %}:</i>
{% endif %}

  <h1 class="title-main">
  {% if include.link %}
    <a class="title-link" href="{{ include.link }}">{{ include.title }}</a>
  {% elsif include.url %}
    <a class="title-permalink" href="{{ include.url }}">{{ include.title }}</a>
  {% else %}
    {{ include.title }}
  {% endif %}
  </h1>

{% if include.summary %}
  <h2 class="title-summary">{{ include.summary }}</h2>
{% endif %}

</div>
