/**
 * Blog index sidebar styling
 *
 * Added via JavaScript (as are DOM elements styled by this CSS).
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/*
 * Section boundaries.
 * 1. These are all JS-based, so hide unless scripts are turned on.
 */
.sidebar-filter-section {
    @include rem("margin-bottom", ($line / 2));
    @include rem("padding", (($circle-diameter * 0.5) + ($line-px * 0.5)) $gutter ($line * 0.5));
    display: none; /* 1 */
    background: $background-color-page-footer;

    .js &.open {
        display: block;
    }

}

/* Formats lists. */
.sidebar-listing {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
}

/*
 * Formats and languages list items.
 * 1. For icon positioning.
 */
.sidebar-listing-item {
    position: relative; /* 1 */
    padding-left: 1.75em;

    /* Icon colours and fonts.. */
    &:before {
        @include font-size-leading("larger");
        position: absolute;
        left: 0;
        font-family: $font-family-icons;
    }

    /* Content and colours for format icons. */
    @each $format, $icon in $format-icons {
        &.format-#{$format}:before {
            content: "#{$icon}";
            color: map-get($format-colors, $format);
        }
    }

    /* Remove link left-right padding to fix second-line alignment. */
    a {
        padding-left: 0;
        padding-right: 0;
    }

}

/* Content and colours for language icons. */
@each $language, $icon in $language-icons {
    .language-#{$language}:before {
        content: "#{$icon}";
        color: map-get($language-colors, $language);
    }
}

/* Language icons are smaller, so boost their size a little. */
.languages-listing-item:before {
    @include font-size-leading("huge");
    left: -0.1em;
}

/*
 * Tag cloud.
 */
.tagcloud {
    margin: 0;
}

.tagcloud-item {
    @include font-size-leading("smaller", 1.5);
    padding-left: 0;
    padding-right: 0;
    font-family: $font-family-content;

    /* Tagcloud size increases. */
    b {
        @include font-size-leading("small", 1.5);
        padding: 0;
        background: none;
        color: inherit;

        b {
            @include font-size-leading("normal", 1.5);

            b {
                @include font-size-leading("large", 1.5);

                b {
                    @include font-size-leading("larger", 1.5);
                }

            }

        }

    }

}

/*
 * Search area.
 */
.sidebar-search-form {
    @include rem("padding", ($line * 0.5) 0);
    text-align: center;
}

/* Search field/button wrappers. */
.search-form-field-wrap {
    margin: 0;

    & + & {
        margin-top: ($line * 0.5);
    }

}

/* The search input. */
.search-input {
    @include font-size-leading("large");
    width: 100%;
}


/* Highlight the current sidebar filter. */
.sidebar-filter-active {

    &,
    &:hover,
    &:focus,
    &:active {
        border: 0;
        background: transparent;
        color: $link-color-active;
        cursor: default;
    }

}


/**
 * Media query.
 *
 * Greater white space between the main content and sidebar.
 */
@include media-width("more-column-spacing") {

    /* Reinstate gutters. */
    .sidebar-listing {
        margin-left: $gutter;
        margin-right: $gutter;
    }

} //include media-width(more-column-spacing)
