/* ==========================================================================
   Blog index sidebar styling

   Added via JavaScript (as are DOM elements styled by this CSS).

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.blog-sidebar {
    /* Bottom spacing to avoid clashing with pagination. in one-col layout. */
    @include rem("margin-bottom", $circle-diameter);
}

.sidebar-filter-section {
/*** Section boundaries.
 ***/
    @include rem("margin-bottom", ($line / 2));
    @include rem("padding", (($circle-diameter * 0.5) + ($line-px * 0.5)) $gutter ($line * 0.5));
    /* These are all JS-based, so hide unless scripts are turned on. */
    display: none;
    background: $background-color-page-footer;

    .js &.open {
        display: block;
    }

}

.sidebar-header {
    @include rem("height", ($circle-diameter / 2));
    position: relative;
}

.sidebar-button-bar {
/*** Blog sidebar button area.
 ***/
    font-family: $font-family-icons;

    a {
        color: $background-color;
    }

}

.filter-switcher-item {

    a {
        border-color: $background-color;
        background: $background-color-page-footer;
        color: $link-color-secondary;

        &:hover,
        &:focus {
            background: $link-color-secondary;
            color: $background-color-page-footer;
        }

        &:active {
            background: $link-color-active;
            color: $background-color-page-footer;
        }

    }

    b {
        background: $background-color;
        border-color: $background-color;
        color: $link-color-active;
        cursor: default;
    }

}

.sidebar-listing {
/*** Formats lists.
 ***/
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar-listing-item {
/*** Formats and languages list items.
 ***/
    /* For icon positioning. */
    position: relative;
    padding-left: 1.75em;

    &:before {
    /*** Icons.
     ***/
        @include font-size-leading("larger");
        position: absolute;
        left: 0;
        font-family: $font-family-icons;
    }

    // Content and colours for format icons.
    @each $format, $icon in $format-icons {
        &.format-#{$format}:before {
            content: "#{$icon}";
            color: map-get($format-colors, $format);
        }
    }

    a {
        /* Remove link left-right padding to fix second-line alignment. */
        padding-left: 0;
        padding-right: 0;
    }

}

.languages-listing-item:before {
/*** Language icons are smaller, so boost their size a little.
 ***/
    @include font-size-leading("huge");
    left: -0.1em;
}

.sidebar-search-form {
/*** Search area.
 ***/
    @include rem("padding", ($line * 0.5) 0);
    text-align: center;
}

.search-form-field-wrap {
    margin: 0;

    & + & {
        margin-top: ($line * 0.5);
    }

}

.search-input {
    @include font-size-leading("large");
    width: 100%;
}

.sidebar-filter-active {

    &,
    &:hover,
    &:focus,
    &:active {
    /*** Highlight the current sidebar filter.
     ***/
        border: 0;
        background: transparent;
        color: $link-color-active;
        cursor: default;
    }

}

@include media-width("more-column-spacing") {
/*** Media query: Greater white space between the main content and sidebar.
 ***/
    .sidebar-listing {
    /*** Reinstate gutters.
     ***/
        margin-left: $gutter;
        margin-right: $gutter;
    }

}
