/* ==========================================================================
   Contact details layout.

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


.contact-details-label {
/*** Icon labels.
 ***/
    @include circle;
    @include rem("margin-top", $line);
    @include font-size("huge");
    clear: left;
    float: left;
    font-family: $font-family-icons;
    font-style: normal;
    color: $text-color-reversed;

    &:before {
        content: '';
        display: block;
    }

    // Colours.
    @each $field, $color in $circle-list-colors {
        &.#{$field} {
            background: $color;
        }
    }

}

.contact-details-data {
/*** All contact details text.
 ***/
    @include font-size-leading("large", 1.5);
    @include rem("margin-top", $line);
    float: left;
    padding-left: 0;
    vertical-align: middle;

    address {
        margin: 0;
    }

}
