/* ==========================================================================
   Custom styling for the "I don't" page

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


.donts {
/*** Dos/Don'ts figure elements.
 ***/

    figure.yes {
    /*** Dos box and icon.
     ***/
        @include column(6);
        @include push;

        &:before {
        /*** Icon.
         ***/
            content: "\e65c";
            background-color: $color-yes;
        }

        blockquote {
        /*** The quote itself. Smaller text, as there's more of it.
         ***/
            @include font-size-leading("normal");
            color: $color-yes;

            p + p {
                margin-top: $line;
            }

        }

    }

    figure.no {
    /*** Don'ts box and icon.
     ***/
        @include column(4);
        @include push;

        &:before {
        /*** Icon.
         ***/
            content: "\e65b";
            background-color: $color-no;
        }

        blockquote {
        /*** The quote itself.
         ***/
            font-style: italic;
            color: $color-no;
        }

    }

    figure.yes,
    figure.no {
    /*** Both Dos and Don'ts. Placed here so the padding overrides `column()`.
     ***/
        @include circle-box;
        @include rem("margin-top", ($line * 2));
        @include rem("margin-bottom", $line);
        @include rem("padding-top",    ($line * 1.5));
        @include rem("padding-bottom", ($line * 1.5));
        background-color: $background-color-content;

        &:before {
            font-family: $font-family-icons;
            /* Match the background the figures sit on. */
            border-color: $background-color;
        }

    }

}
