/**
 * Custom styles for the My Expertise page
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/**
 * Skills/technologies rows of icons.
 */

/* The skills list heading and subheadings. */
.skills {
    background: $background-color;

    /* Override default `.wide-content` padding with specificity hack. */
    &.skills {
        @include rem("padding-top",    $line);
        @include rem("padding-bottom", $line);
    }

    h2,
    h3 {
        text-align: center;
        color: $text-color-listing-headings;
    }

}

/* The icons containers. */
.skill-list {
    @include clearfix;
    display: block;
    list-style: none;

    li {
        float: left;
        display: block;
        margin: 0;
        text-align: center;
    }

    /*
     * Icon wrappers.
     * 1. Use padding-top to leave space for the absolute-positioned icon.
     * 2. For icon positioning.
     */
    a,
    span {
        @include rem("width", $skills-list-item-size);
        @include rem("height", $skills-list-item-size);
        @include rem("padding", 6rem 0.5rem 0.5rem); /* 1 */
        position: relative; /* 2 */
        float: left;
        display: block;
        border: 1px solid $background-color;
        line-height: 1em;
        background: $background-color-skills-list;
        color: $text-color;

        /*
         * Vector icon positioning.
         * 1. Overridden by the specific webfont icon.
         * 2. Horizontal centring.
         * 3. CSS sprite of non-webfont icons.
         */
        &:before {
            @include rem("top", 0.4rem);
            @include font-size("gigantic");
            content: ''; /* 1 */
            position: absolute;
            left: 50%; /* 2 */
            display: block;
            width: $skills-list-icon-size;
            height: $skills-list-icon-size;
            margin-left: (($skills-list-icon-size * -1) / 2);
            line-height: 3rem;
            background: transparent url('/img/skill-images.png') left top no-repeat; /* 3 */
            background-size: $skills-list-icon-size $skills-list-icon-size;
        }

    }

    /* Override link hover border colours, to preserve 1px gap between items. */
    a:hover,
    a:focus,
    a:active {
        border-color: $background-color;
    }


    /**
     * Webfont icons.
     */

    @each $skill, $icon in $skills-list-icons {
        .#{$skill} {

            a:before,
            span:before {
                content: $icon;
                background-image: none;
            }

        }
    }


    /**
     * CSS sprite icons.
     */

     @each $skill in $skills-list-bitmaps {
        $i: (index($skills-list-bitmaps, $skill) - 1);

        // Output
        .#{$skill} {

            a:before,
            span:before {
                background-position-x: (-70px * $i)
            }

        }
     }

}
