/* ==========================================================================
   Custom styles for the My Expertise page

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


/* Illustrated content sections.
   ========================================================================== */

.content-section-university {
/*** 'Expertise - university' content row.
 ***/
    background-color: $black;

    strong {
        background: $oslo-grey;
        color: $text-color-reversed;
    }

}

.content-section-small-business {
/*** 'Expertise - small business' content row.
 ***/
    background-color: $santa-fe;

    strong {
        background: $ironstone;
        color: $text-color-reversed;
    }

}


/* Skills/technologies area of icons.
   ========================================================================== */

.skills {
    background: $background-color;

    h2,
    h3 {
    /*** The skills list heading and subheadings.
     ***/
        text-align: center;
        color: $text-color-listing-headings;
    }

}

.skill-list {
/*** The icons containers.
 ***/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Override default list padding. */
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        margin: 0;
    }

    a,
    span {
    /*** Icon wrappers.
     ***/
        @include rem("width", $skills-list-item-size);
        @include rem("height", $skills-list-item-size);
        /* Use padding-top to leave space for the absolute-positioned icon. */
        @include rem("padding", 6rem 0.5rem 0.5rem);
        /* For icon positioning. */
        position: relative;
        float: left;
        display: block;
        border: 1px solid $background-color;
        line-height: 1em;
        background: #fff;
        color: $text-color;

        &:before {
        /*** Vector icon positioning.
         ***/
            @include rem("top", 1.2rem);
            @include font-size("gigantic");
            /* Overridden by the specific webfont icon. */
            content: '';
            position: absolute;
            /* Horizontal centring. */
            left: 50%;
            display: block;
            width: $skills-list-icon-size;
            height: $skills-list-icon-size;
            /* Horizontal centring. */
            margin-left: (($skills-list-icon-size * -1) / 2);
            font-family: $font-family-icons;
            line-height: 3rem;
            /* CSS sprite of non-webfont icons. */
            background: transparent url('/img/skill-images.png') left top no-repeat;
            background-size: auto $skills-list-icon-size;
            color: $color-skills-list-icon;

            @include media-retina() {
                background-image: url('/img/skill-images@2x.png');
            }

        }

    }

    a:hover,
    a:focus,
    a:active {
        /* Override link hover border colours, to preserve 1px gap between
         * items. */
        border-color: $background-color;
    }

    // CSS sprite icons.
    @each $skill in $skills-list-bitmaps {
        $i: (index($skills-list-bitmaps, $skill) - 1);

        // Output
        .#{$skill} {

            a:before,
            span:before {
                background-position-x: (-70px * $i);
            }

        }
    }

}


/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets of wider.
 ***/
    .content-section-university .gradient.right {
        background-image: linear-gradient(to left, transparent 40%, $black 100%);
    }

    .content-section-small-business .gradient.right {
        background-image: linear-gradient(to left, transparent 40%, $santa-fe 100%);
    }

}
