/* ==========================================================================
 * Homepage-specific styles
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */

.above-footer {
/*** Fix horizontal-overflow bug that only affects homepage.
 ***/
    overflow-x: hidden;
}


/* Homepage masthead area.
   ========================================================================== */

.masthead {
/*** Changes to masthead height and illustration position.
 ***/
    height: $homepage-illustration-height-masthead;
    max-height: 100vh;

    .homepage-title {
        @include rem("padding-bottom", ($line * 3));
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .gradient,
    .illustration {
        height: $homepage-illustration-height-masthead;
        max-height: 100vh;
    }

    .illustration .img {
        top: auto;
        bottom: 0;
        width: 1400px;
        height: 894px;
        background: transparent url("/img/orange.jpg") center center no-repeat;
        background-size: cover;

        @include media-retina {
            background-image: url("/img/orange@2x.jpg");
        }

    }

}

.homepage-title-main {
    color: $text-color-reversed;
    /* Align edge of brags' background box outside the margin. */
    text-indent: ($link-padding * -1);

    .masthead .homepage-title & {
    /*** Specificity hack to override normal title sizes.
     ***/
        @include font-size-leading("enormous", 2);
    }

    a:hover,
    a:focus,
    a:active {
        text-shadow: none;
    }

    .brag {
    /*** The changing element in the welcome message.
     ***/
        overflow: hidden;
        background: $toast;
        /* Fixes the gradient height changing in each brag transition. */
        word-wrap: normal;
        text-indent: 0;

        span {
        /*** Individual 'brags' - only one is displayed at once.
         ***/
            display: inline-block;
            /* Hide unless `.current`. */
            max-width: 0;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            color: $text-color-reversed;

            &.current {
            /*** The currently visible 'brag'.
             ***/
                max-width: 100em;
                opacity: 1;
            }

        }

    }

    .no-js & {
        text-indent: 0;

        .brag {
            /* Hide 'brags' when they're static because JavaScript is off. */
            display: none;
        }

    }

}


/* Homepage content area.
   ========================================================================== */

.homepage-content-section-illustrated {
/*** USPs row.
 ***/
    background-color: $toast;

    ul {
    /*** Show bulleted list as a simple sequence of sentences.
     ***/
        margin: 0;
        line-height: (map-get($line-heights, "large") * 1.5);
        list-style: none;
    }

    strong {
        background: $ironstone;
        color: $text-color-reversed;
    }

}

/* Intro. */
.homepage-content-section-first {
    background: $background-color;
}

/* Featured testimonial. */
.content-section-endorsement {

    figure.quote:before {
        background-color: $rum;
    }

    blockquote {
        @include font-size-leading("larger", 1.5);
        color: $rum;
    }

}


/* Homepage footer area.
   ========================================================================== */

.homepage-signposting-row {

    .footer-section-title {
        text-align: center;
    }

}

.page-footer-section.featured-website,
.page-footer-section.latest-posts {
    width: 100%;
    margin: 0;
    padding-left: $gutter;
    padding-right: $gutter;
}

.page-footer-section.featured-website {
    /* Spacing in-between on mobile layout. */
    @include rem("margin-top", $line);
}

.footer-section .minilisting-item {
    @include rem( "margin", $link-padding 0 );

    &:first-child {
        margin-top: 0;
    }

    &:nth-child(n+5) {
        /* Hide the lower-down list items until there's more space for them. */
        display: none;
    }

}

.featured-website-screenshot {
    /* To equalize the bottom margin with the posts listing bottom margin. */
    @include rem("margin-bottom", $link-padding);
    display: block;
    padding: 0;
    border: 0;
    background: $background-color-page-footer;
    text-align: center;

    img {
    /*** The actual screenshot.
     ***/
        width: 100%;
    }

    &:hover,
    &:focus {
        background: $link-color;
        color: $text-color-reversed;
    }

    &:active {
        background: $link-color-active;
        color: $text-color-reversed;
    }

}

.featured-website-title {
/*** Mimic normal link padding, colours, and animation for the website title.
 ***/
    display: inline-block;
    width: 100%;
    padding: $link-padding $link-padding ($link-padding * 2);
    color: inherit;
}


/* Media queries.
   ========================================================================== */

@include media-width("homepage-footer-two-columns") {
/*** Media query: Two footer columns.
 ***/
    .homepage-signposting-row {
    /*** Horizontal flexbox (used to stretch the two columns to equal heights).
     ***/
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .page-footer-section.featured-website,
    .page-footer-section.latest-posts {
    /*** Vertical flexbox-within-flexbox (to make the latest posts list and
     *** featured website screenshot the same height).
     ***/
        @include rem("margin", $line 0 0);
        @include rem("padding", 0 $gutter ($line * 1.5));
        display: flex;
        flex-direction: column;
        width: 50%;

        h3 {
            /* Don't flex-grow the column headings. */
            flex: none;
        }
    }

    .footer-minilisting,
    .featured-website-screenshot {
        /* Do flex-grow the column contents. */
        flex: 1 1 auto;
    }


    .footer-minilisting {
    /*** Vertical 3rd-level flexbox to space out the list items to fill the
     *** height.
     ***/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .featured-website {
        /* Used to align properly to the edge when this hits the max-width. */
        float: right;

        .footer-section-title {
            text-align: right;
        }

    }

    .latest-posts .footer-section-title {
        text-align: left;
    }

}

@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    .masthead .homepage-title .homepage-title-main {
    /*** Specificity hack to override normal title sizes.
     ***/
        @include font-size-leading("enormous", 2);
    }

    .homepage-content-section-illustrated .gradient.right {
    /*** Mini illustrated content sections with different background colour.
     ***/
        background-image: linear-gradient(to left, transparent 40%, $toast 100%);
    }

}

@include media-width("nav-horizontal") {
/*** Media query: Wide enough for brags to fit into 2 lines.
 ***/
    .homepage-title-extra-line {
        /* Don't put 'web design' on different line to brags at this width. */
        display: none;
    }

}

@include media-width("two-columns") {
/*** Media query: A bit wider.
 ***/
    .footer-section .minilisting-item {
    /*** Progressively show more posts as the footer height increases (due to
     *** increased screenshot size).
     ***/
        &:nth-child(n+5) {
            display: block;
        }

        &:nth-child(n+6) {
            display: none;
        }

    }

}

@include media-width("more-column-spacing") {
/*** Media query: Wider still
 ***/
    .footer-section .minilisting-item {
    /*** Progressively show more posts as the footer height increases (due to
     *** increased screenshot size).
     ***/
        &:nth-child(n+6) {
            display: block;
        }

    }

}

/* Homepage illustration sizes/framing on mobiles. */

@media (max-width: 850px) and (max-height: 850px) {

    .masthead .homepage-title {
        @include rem("padding-bottom", ($line * 2));
    }

}

$homepage-sizes: 900px, 736px, 667px, 568px;
@each $size in $homepage-sizes {
    $media-size: ($size - 50px);
    @media (max-width: $media-size) and (max-height: $media-size) {

        .masthead-illustrated .illustration .img {
            width: $size;
            height: $size;
            /* Reframes the 'iPad' in the middle in landscape phone mode. */
            max-height: 110vh;
            margin-left: ($size * -0.5);
            background-image: url("/img/orange-#{$size / 1px}.jpg");

            @include media-retina {
                background-image: url("/img/orange-#{$size / 1px}@2x.jpg");
            }

        }

        .masthead {
            height: $size;
            height: 95vh;

            .gradient,
            .illustration {
                height: $size;
                height: 95vh;
            }

        }

    }

}
