/**
 * Homepage-specific styles
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/*
 * Header area and parallax.
 * 1. Almost (but not quite) full screen height. Can use `vh` with no fallback
 *    because I'm also declaring both min- and max-heights, which act as a
 *    de facto fallback.
 * 2. Don't exceed the height of the image.
 */
.homepage-masthead {
    position: relative;
    height: 99vh; /* 1 */
    min-height: 700px;
    max-height: (840px + $line-px); /* 2 */

    /*
     * Title.
     * 1. Prevent bottom-padding from causing height issues.
     * 2. Border is a continuation of the gradient's solid-colour ending.
     * 3. Manually output border width in both rem and px, since we're using the
     *    border-bottom shorthand (which breaks the `rem` mixin).
     */
    .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding-bottom: 0; /* 1 */
        border-bottom: cj-calculate-rem-fallback($line) solid $background-color-illustrated; /* 2, 3 */
        border-bottom-width: $line; /* 3 */
    }

    .gradient {
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 0, transparent 65%, $background-color-illustrated 95%);
    }

    /* Parallax image wrapper. */
    .illustration {
        height: 100%;

        img {
            left: 25%;
            bottom: 0;
            margin-left: ($illustration-width-masthead * -0.25);

            /* Shift image for better framing on mobile devices. */
            @media (max-width: 700px) {
                margin-left: -550px;
            }

        }

    }

}

/* Homepage welcome message */
.homepage-title {
    @include rem("padding-bottom", $line);
    text-align: center;
}


.homepage-title-main {
    @include rem("margin", 0 $gutter ($line * 2.5));
    @include font-size-leading("huger", 1.5);
    text-shadow: 0 0 10px $black;
    color: $text-color-reversed;

    a:hover,
    a:focus,
    a:active {
        text-shadow: none;
    }

    /*
     * The changing element in the welcome message.
     * 1. Fixes the gradient height changing in each brag transition.
     */
    .brag {
        overflow: hidden;
        background: $patina;
        word-wrap: normal; /* 1 */

        /*
         * Individual 'brags' - only one is displayed at once.
         * 1. Hide unless `.current`.
         */
        span {
            display: inline-block;
            max-width: 0; /* 1 */
            opacity: 0; /* 1 */
            transition: all 0.5s ease-in-out;
            color: $text-color-reversed;

            /* The only visible 'brag'. */
            &.current {
                max-width: 100em;
                opacity: 1;
            }

        }

    }

}

/* USPs row. */
.homepage-content-section-illustrated {
    background-color: $toast;

    /* Show bulleted list as a simple sequence of sentences. */
    ul {
        margin: 0;
        line-height: (map-get($line-heights, "large") * 1.5);
        list-style: none;
    }

    strong {
        background: $ironstone;
        color: $text-color-reversed;
    }

}

/**
 * Homepage content areas.
 */

/* Intro. */
.homepage-content-section-first {
    background: $background-color;
}

/* Featured testimonial. */
.content-section-endorsement {

    blockquote {
        @include font-size-leading("larger", 1.5);
    }

}


/**
 * Page footer.
 */

/* Featured website section. */
.featured-website {
    text-align: right;
}

/* The screenshot/title wrapper link. */
.featured-website-screenshot {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: transparent;

    /* Don't highlight the image on hover. Note specificity hack. */
    .featured-website &:hover,
    .featured-website &:focus,
    .featured-website &:active {
        background: transparent;
    }

    /* The actual screenshot. */
    img {
        width: 100%;
    }

}

/* Mimic normal link padding, colours, and animation for the website title. */
.featured-website-title {
    display: inline-block;
    padding: $link-padding;
    color: $link-color;
    transition: all $link-transition-duration ease-in-out;

    a:hover &,
    a:focus & {
        background: $link-color;
        color: $text-color-reversed;
    }

    a:active & {
        background: $link-color-active;
        color: $text-color-reversed;
    }

}


/**
 * Media query.
 *
 * Tablet or wider.
 */

@include media-width("normal-size") {

    /* Brags. No need to wrap to 2 lines at this screen size. */
    .homepage-title br {
        display: none;
    }


    /**
     * Mini illustrated content sections with different background colour.
     */
    .homepage-content-section-illustrated {

        .gradient.right {
            background-image: linear-gradient(to left, transparent 40%, $toast 100%);
        }

    }

}


/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("footer-two-columns") {

    /*
     * Featured website section.
     * 1. Used to align properly to the edge when this hits the max-width.
     */
    .featured-website {
        float: right; /* 1 */
    }

}
