/* ==========================================================================
   Portfolio styling

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */


.portfolio-item {
    /* Prevent large-screenshot overlapping the right edge. */
    overflow: hidden;

    &:before {
        /* No icons. */
        display: none;
    }

    .content {
        background: $background-color-portfolio-entry;
    }

    .screenshot {
    /*** Screenshot wrapper - shows a 'browser window' around the screenshot.
     ***/
        position: relative;
        /* For horizontal centring. */
        text-align: center;
        background: url("/img/browser-mobile.png") center top no-repeat;

        &.large {
            /* Desktop screenshot not shown until there's room for it. */
            display: none;
        }

        &.small {
        /*** Mobile screenshot.
         ***/
            @include rem("padding-top", ($line * 1.5));
            left: 50%;
            $width: 320px;
            margin-left: ($width * -0.5);
            width: $width;
            height: 446px;
        }

    }

    h3 {
    /*** Site title (in listing item footer).
     ***/
        @include rem("top", $line);
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
        color: $text-color;
    }

}

.portfolio .website .content {
/** Portfolio page item content. */
    @include rem("padding", ($line * 2) 0 0);
    /* For screenshot positioning. */
    position: relative;
    width: 100%;
}

@include media-width("portfolio-screenshots") {
/*** Media query: Full portfolio layout.
 ***/
    .portfolio-listing .screenshot {
    /*** The full-size screenshot wrapper.
     ***/
        &.large {
        /*** Desktop-scale screenshots.
         ***/
            $width: 750px;
            @include rem("margin-left", $line);
            @include rem("padding-top", ($line * 1.5));
            /* Redisplay this size of screenshot (hidden on thinner screens). */
            display: block;
            width: $width;
            height: 545px;
            background-image: url("/img/browser.png");
        }

        &.small {
        /*** Mobile screenshots.
         ***/
            /* Position mobile to the bottom-right, letting the desktop
             * screenshot take centre stage. */
            @include rem("right", $line);
            position: absolute;
            bottom: 0;
            /* Cancel horizontal centring. */
            left: auto;
            margin-left: 0;
        }

    }

    .portfolio-item-content {
    /*** Portfolio page item content area: reinsert extra spacing underneath the
     *** main screenshot.
     ***/
        @include rem("padding-bottom", ($line * 2));
    }

}
