/* ==========================================================================
   Basic site-wide styles - mostly typography

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

/* Universal styles.
   ========================================================================== */

html {
/*** Set up the starting point for all inheritance.
 ***/
    box-sizing: border-box;
    /* = 15px, assuming the user's browser font setting is the default 16px. */
    font-size: (100% * ($base-font-size-small / 16));
    /* Extend the site footer background colour to the bottom of the window when
     * it is taller than the page body. */
    background: $background-color-site-footer;
}

*,
*:before,
*:after {
/*** Every element and pseudo-element.
 ***/
    box-sizing: inherit;
    /* Bold versions of the site's webfonts are not loaded, so we disable bold
     * font-weights throughout the site. */
    font-weight: $font-weight !important;
}

body {
    font-size: 1em;
    line-height: $base-line;
    font-family: $font-family-brand;
    word-wrap: break-word;
    background: $background-color;
    color: $text-color;
    /* For better type aliasing in WebKit. */
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* Main page wrappers.
   ========================================================================== */

.above-footer {
/*** Wrapper for everything above the footer.
 ***/
    max-width: $body-width-maximum;
    margin: 0 auto;
}

.title {
/*** Title container margins.
 ***/
    @include rem("margin-left",  $gutter);
    @include rem("margin-right", $gutter);
}


/* Standard paragraphs of text.
   ========================================================================== */

p,
address {
    @include rem("margin", $line $gutter 0);
}

address {
    font-style: normal;
}

.lead {
/*** Lead paragraphs.
 ***/
    @include font-size-leading("large");
}

b,
strong,
mark {
/*** Emphasis.
 ***/
    padding: $link-padding;
    color: $text-color-emphasis;
    background-color: $background-color-emphasis;
}


blockquote {
    @include rem("margin", $line);
    @include font-size-leading("large");
    color: $text-color-quote;

    p {
        margin-top: 0
    }

    p + p {
        @include rem("margin-top", $line);
    }

    &.short {
    /*** Short quotations (which are given larger text).
     ***/
        @include font-size-leading("larger", 1.5);
    }

}

code,
var,
kbd,
samp {
/*** Code.
 ***/
    padding: $link-padding;
    /* Use ems not rems for code, so it grows and shrinks proportionally when
     * used in subheadings and footnotes. */
    font-size: (map-get($font-size-multipliers, "small") * 1em);
    line-height: map-get($line-heights, "small");
    font-family: $font-family-monospace;
    background-color: $background-color-inline-code;
    color: $text-color-inline-code;
}

hr {
    @include rem("margin", ($line * 2) 0);
    border: 0;
    border-top: 1px solid $color-hr;
}

// Content and colours for language icons.
@each $language, $icon in $language-icons {
    .language-#{$language}:before {
        content: "#{$icon}";
        color: map-get($language-colors, $language);
    }
}


/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    html {
        /* Increase all sizing so base font size is 18px, assuming the browser
         * font setting is the default 16px. */
        font-size: (100% * ($base-font-size / 16));
    }

    hr {
    /*** Align hr edges with subheading edges.
     ***/
        @include rem("margin-left",  $gutter);
        @include rem("margin-right", $gutter);
    }

    .content-section {

        p,
        blockquote {
        /*** Leave more margin around text.
         ***/
            @include push;
            @include pull;
        }

        blockquote p,
        ol p,
        ul p,
        dl p {
            margin-left: 0;
            margin-right: 0;
        }

    }

}

@include media-width("beyond-max-width") {
/*** Media query: Wide enough that the background texture should be showing.
 ***/
    body {
        /* Only load the background pattern when the screen is wide enough for
         * it to show. */
        background: $background-color url("/img/halftone.png") center top;
    }

}
