/**
 * Basic site-wide styles - mostly typography
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */


/**
 * Universal styles.
 */

/*
 * Set up the starting point.
 * 1. Box sizing part 1.
 * 2. = 15px, assuming the user's browser font setting is 16px (the default).
 * 3. Extend the site footer background colour to the bottom of the window when
 *    it is taller than the page body.
 */
html {
    box-sizing: border-box; /* 1 */
    font-size: (100% * ($base-font-size-small / 16)); /* 2 */
    background: $background-color-site-footer; /* 3 */
}

/*
 * Every element and pseudoelement.
 * 1. Box sizing part 2.
 * 2. Bold versions of the site's webfonts are not loaded, so we disable bold
 *    font-weights throughout the site.
 */
*,
*:before,
*:after {
    box-sizing: inherit; /* 1 */
    font-weight: $font-weight !important; /* 2 */
}

/*
 * 1. Set default font-size and line-height.
 * 2. Type aliasing settings.
 */
body {
    font-size: 1em; /* 1 */
    line-height: $base-line; /* 1 */
    font-family: $font-family-brand;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01); /* 2 */
    word-wrap: break-word;
    background: $background-color;
    color: $text-color;
    -webkit-font-smoothing: antialiased; /* 2 */
    text-rendering: optimizeLegibility; /* 2 */
}


/**
 * Main page wrappers.
 */

/* Wrapper for everything above the footer. */
.above-footer {
    @include clearfix;
    max-width: $body-width-maximum;
    margin: 0 auto;
}

/* Title container margins. */
.title {
  @include rem("margin-left",  $gutter);
  @include rem("margin-right", $gutter);
}


/**
 * Standard paragraphs of text.
 */

p,
address {
    @include rem("margin", $line $gutter 0);
}

address {
    font-style: normal;
}

/* Lead paragraphs. */
.lead {
    @include font-size-leading("large");
}


/*
 * Emphasis.
 */
b,
strong,
mark {
    padding: $link-padding;
    color: $text-color-emphasis;
    background-color: $background-color-emphasis;
}


/* Blockquotes. */
blockquote {
    @include rem("margin", $line);
    @include font-size-leading("large");
    color: $text-color-quote;

    p {
        margin: 0
    }

    p + p {
        @include rem("margin-top", $line);
    }

    /* Short quotations (which are given larger text). */
    &.short {
        @include font-size-leading("larger", 1.5);
    }

}

/* Code. */
code,
var,
kbd,
samp {
    @include font-size-leading("small", 0.5);
    padding: $link-padding;
    font-family: $font-family-monospace;
    color: $text-color-inline-code;
    background-color: $background-color-inline-code;
}

/* Horizontal rules. */
hr {
    @include rem("margin", ($line * 2) 0);
    border: 0;
    border-top: 1px solid $color-hr;
}

/* Content and colours for language icons. */
@each $language, $icon in $language-icons {
    .language-#{$language}:before {
        content: "#{$icon}";
        color: map-get($language-colors, $language);
    }
}


/**
 * Media query.
 *
 * Tablets or wider.
 */
@include media-width("normal-size") {

/*
 * Increase all sizing so base font size is 18px, assuming the browser font
 * setting is the default 16px.
 */
    html {
        font-size: (100% * ($base-font-size / 16));
    }

    /* Leave more margin around text. */
    .content-section {

        p,
        blockquote {
            @include push;
            @include pull;
        }

        blockquote p,
        ol p,
        ul p,
        dl p {
            margin-left: 0;
            margin-right: 0;
        }

    }



} //include media-width(normal-size)


/**
 * Media query.
 *
 * Wide enough that the background texture should be showing.
 */
@include media-width("beyond-max-width") {

    /*
     * Only load the background pattern when the screen's wide enough for it to
     * show.
     */
    body {
        background: $background-color url("/img/halftone.png") center top;
    }

}
