/**
 * Figure styles
 *
 * Includes special block-level tags e.g. blockquote, pre, address
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/* Basic figure. */
figure {
    @include rem("margin", $line 0);
    @include rem("padding", ($line / 2) 0);
    background: $background-color-figure;

    /* Get rid of bottom spacing when this is the last element in the content */
    &:last-child {
        margin-bottom: 0;
    }

}

/* Captions. */
figcaption {
    @include rem("margin", $line $gutter 0);
}

/**
 * Figure types.
 */

/* Link figures. */
figure.link {
    padding: 0 !important;
    background: $background-color-link;

    /* The actual link inside the figure. */
    a {
        @include rem("padding", $line);
        @include font-size-leading("larger", 1.5);
        display: block;
        text-align: center;
        color: $link-color;

        &:hover,
        &:focus {
            color: $text-color-reversed;
            background: $link-color;
            border-color: $link-color;
        }

        &:active {
            color: $text-color-reversed;
            background: $link-color-active;
            border-color: $link-color-active;
        }

    }

} //figure.link

/* Quote figures. */
figure.quote {
    background: $background-color-quote;

    blockquote {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*
     * Make italicization of quote citations an explicit choice, so we can use
     * italics for publications but not for people.
     */
    cite {
        font-style: normal;
    }

    /* Citation marker. */
    figcaption:before,
    cite:before {
        content: "—";
    }

}

/*
 * Codeblocks.
 * 1. Same padding all around.
 */
figure.code {
    @include rem("padding-left", ($line / 2)); /* 1 */
    @include rem("padding-right", ($line / 2)); /* 1 */
    color: $text-color-reversed;
    background: $background-color-code;

    /*
     * The icon is applied to the code element, not the figure, so we can use
     * the code's language class to style the icon.
     */
    &:before {
        display: none;
    }

    /*
     * Padding-top is applied to the code element, not the figure, so that the
     * language icon is positioned correctly.
     */
    .content-section & {
        padding-top: 0;
    }

    code {
        @include circle-box;
        @include rem("padding-top", ($line * 1.5));
        display: block;
        color: inherit;
        background: transparent;

        /* Icon colours and fonts.. */
        &:before {
            @include font-size("huger");
            font-family: $font-family-icons;
            color: $text-color-reversed;
            background-color: $background-color-code;
        }

        /* Icon colours. */
        @each $language, $color in $language-colors {
            &.language-#{$language}:before {
                background-color: $color;
            }
        }

    }

    code,
    pre {
        @include font-size-leading( "smaller", 0.666667 );
        margin: 0;
        overflow: visible;
    }

    /* Hairline space between codeblocks. */
    + figure.code {
        @include rem("margin-top", ($line * -1));
        border-top: 1px solid $background-color-content;
    }

}

/* Codeblock output areas. */
figure.output {
    background: #fff;

    > :first-child {
        margin-top: 0;
    }

    /* No spacing between code and output figures. */
    + figure.code,
    figure.code + & {
        @include rem("margin-top", ($line * -1));
    }

    /* Match icon color/border to background. */
    + figure.code code:before {
        border-color: #fff;
        color: #fff;
    }

}

/* Figures on single-article pages. */
.content-section figure {
    @include rem("margin", ($line * 2) 0 $line);
    @include rem("padding-top",    ($line * 1.5));
    @include rem("padding-bottom", ($line * 1.5));

    /* Icon layout. */
    &.link,
    &.quote {
        @include circle-box;

        &:before {
            font-family: $font-family-icons;
        }

    }

    /* Icon content and colours. */
    @each $figure, $color in $figure-colors {
        &.#{$figure}:before {
            content: map-get($figure-icons, $figure);
            background-color: $color;
        }
    }

}


/**
 * Media queries.
 *
 * Tablets or wider.
 */
@include media-width("normal-size") {

    /* Leave more margin around text. */
    figcaption {
        @include push;
        @include pull;
    }

} //include media-width(normal-size)
