/**
 * Footnotes styling
 *
 * For the standard GitHub-Flavored Markdown footnotes HTML.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/* Animation: flash background colour (for highlighting current footnote). */
@keyframes temporary-background {
  0%   { background-color: $background-color-page-footer; }
  100% { background-color: transparent; }
}

/* Links: to-footnote and back-to-text. */
.footnote,
.reversefootnote {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    border: 0;
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
}

/* In-text to-footnote links. */
.footnote {
    @include rem("font-size", map-get($font-sizes, "small"));
    margin: -1em -0.25em 0;
}

/*
 * Footnotes content area.
 * 1. Mimic an hr at the top of the footnotes area.
 */
.footnotes {
    @include rem("margin-top", ($line * 2)); /* 1 */
    @include rem("padding-top", ($line / 2));
    border-top: 1px solid $color-hr; /* 1 */

    /*
     * 1. Override grid column styles.
     */
    ol {
        margin: 0; /* 1 */
        padding-left: 0;

    }

    li {
        @include font-size-leading("small");
        list-style-position: inside;
        transition: background-color $link-transition-duration ease-in-out;

        /* The selected footnote. */
        &:target {
            animation: temporary-background 2s;
        }

        /* Reinstate sub-list margins. */
        ol {
            @include rem("margin-left",  $gutter);
            @include rem("margin-right", $gutter);
        }

        /* Reinstate sub-list marker alignment. */
        li {
            @include rem("margin-left", ($line / 2));
            list-style-position: outside;
        }

    }

} //.footnotes


/**
 * Media query.
 *
 * Tablets or wider.
 */
@include media-width("normal-size") {

    /* Align footnotes area edges with subheading edges. */
    .content-section .footnotes {
        @include rem("margin-left",  $gutter);
        @include rem("margin-right", $gutter);
    }


} //include media-width(normal-size)
