/**
 * Footnotes styling
 *
 * For the standard GitHub-Flavored Markdown footnotes HTML.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/* Links: to-footnote and back-to-text. */
.footnote,
.reversefootnote {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    border: 0;
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
}

/* In-text to-footnote links. */
.footnote {
    @include rem("font-size", map-get($font-sizes, "small"));
    margin: -1em -0.25em 0;
}

/* Footnotes content area. */
.footnotes {

    /*
     * 1. Override grid column styles.
     */
    ol {
        margin: 0; /* 1 */
        padding-left: 0;

    }

    li {
        //@include rem("margin", ($line / 2) 0);
        @include font-size-leading("small");
        list-style-position: inside;
        transition: background-color $link-transition-duration ease-in-out;

        /* The selected footnote. */
        &:target {
            background: $background-color-page-footer;
        }

        /* Reinstate sub-list margins. */
        ol {
            @include rem("margin-left",  $gutter);
            @include rem("margin-right", $gutter);
        }

        /* Reinstate sub-list styling. */
        li {
            @include rem("margin-left", ($line / 2));
            list-style-position: outside;
        }

    }

} //.footnotes
