/* ==========================================================================
   Heading styles.

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

h1,
h2,
h3,
h4 {
/*** All headings.
 ***/
    /* Default heading margins (overridden at the extremes). */
    @include rem("margin", ($line * 2) 0 $line);
    /* For hashlinks. */
    position: relative;
    font-family: $font-family-headings;
    color: $text-color-headings;
}

h1 {
/*** Page title.
 ***/
    @include rem("margin-bottom", ($line * 2));
    @include font-size-leading("enormous", 2);
}


/* Subheadings.
   ========================================================================== */

h2 {
    @include font-size-leading("huge", 1.5);
}

h3 {
    @include font-size-leading("larger");
}

h4 {
    @include rem("margin", ($line * 1.5) 0 ($line * 0.5));
    @include font-size-leading("large");
}


/* Media queries.
   ========================================================================== */

@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    h1,
    h2,
    h3,
    h4 {
        @include rem("margin-left",  $gutter);
        @include rem("margin-right", $gutter);
    }

}
