/**
 * Basic layout styles
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/**
 * Whole page.
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background-color;
}

/* Above-footer area. */
main,
.single {
  @include clearfix;
  max-width: $body-width-maximum;
  margin: 0 auto;
}

/**
 * Media query.
 *
 * Tablets and wider.
 */
@include media-width("normal-size") {



} //include media-width(normal-size)
