/**
 * Basic link styling
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/*
 * 1. Declare cursor explicitly for JS-added links with no href.
 */
a {
    padding: $link-padding;
    border-bottom: 1px solid;
    color: $link-color-secondary;
    text-decoration: none;
    transition: all $link-transition-duration ease-in-out;
    cursor: pointer; /* 1 */

    &:visited {
        color: $link-color-secondary;
    }

    /* Internal links */
    &:hover,
    &:focus {
        border-color: $link-color-secondary;
        color: $text-color-reversed;
        background-color: $link-color-secondary;
    }

    /* External links */
    &[href^="http:"],
    &[href^="https:"],
    &[href^="mailto:"],
    &[href^="tel:"],
    &[href^="skype:"] {
        color: $link-color;

        &:hover,
        &:focus {
            border-color: $link-color;
            color: $text-color-reversed;
            background-color: $link-color;
        }

    }

    /*
     * Clicked links.
     * 1. The [href] is to override external links' specificity.
     */
    &:active,
    &[href]:active { /* 1 */
        border-color: $link-color-active;
        color: $text-color-reversed;
        background-color: $link-color-active;
        transition: none;
    }

}

/*
 * Tag links.
 * 1. Don't line-break within a tag (it's confusing).
 */
.tag {
    white-space: nowrap; /* 1 */
}
