/* ==========================================================================
   Basic link styling

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

a {
    padding: $link-padding;
    border-bottom: 1px solid;
    color: $link-color-secondary;
    text-decoration: none;
    transition: all $link-transition-duration ease-in-out;
    /* Declare cursor explicitly for JS-added links with no href. */
    cursor: pointer;

    &:visited {
        color: $link-color-secondary;
    }

    &:hover,
    &:focus {
    /*** Internal links.
     ***/
        border-color: $link-color-secondary;
        color: $text-color-reversed;
        background-color: $link-color-secondary;
    }

    &[href^="http:"],
    &[href^="https:"],
    &[href^="mailto:"],
    &[href^="tel:"],
    &[href^="skype:"] {
    /*** External links.
     ***/
        color: $link-color;

        &:hover,
        &:focus {
            border-color: $link-color;
            color: $text-color-reversed;
            background-color: $link-color;
        }

    }

    &:active,
    &[href]:active {
    /*** Clicked links. (The [href] selector is to override external links'
     *** specificity.)
     ***/
        border-color: $link-color-active;
        color: $text-color-reversed;
        background-color: $link-color-active;
        transition: none;
    }

}

.tag {
/*** Tag links.
 ***/
    /* Don't line-break within a tag (it's confusing). */
    white-space: nowrap;
}
