/* ==========================================================================
 * Bulleted and numbered lists, and definition lists
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
   ========================================================================== */

ol,
ul,
dl {
    @include rem("margin-left",  $gutter);
    @include rem("margin-right", $gutter);

    li {
        @include rem("margin", ($line / 2) 0);
    }

    dd {
        @include rem("margin", ($line / 2) 0 ($line / 2) $line);
        @include font-size-leading("small");
    }

    p {
        /* Remove margins and reduce space-between for paras. within lists. */
        @include rem("margin", ($line / 2) 0 0);

        &:first-child {
            margin-top: 0;
        }

    }

    & & {
        /* Nested list margins. */
        @include rem("margin-left", ($line / 2));
    }

}

li ol {
/*** Nested list styles.
 ***/
    list-style-type: lower-alpha;

    li & {
        list-style-type: lower-roman;
    }

}

li li li {
/*** Double-nested list sizes and margins.
 ***/
    @include rem("margin-left", ($line / 2));
    @include font-size-leading("small");
}


@include media-width("normal-size") {
/*** Media query: Tablets or wider.
 ***/
    ol,
    ul,
    dl {
    /*** Leave more margin around lists' text.
     ***/
        @include push;
        @include pull;
    }

}
