/**
 * Bulleted and numbered lists, and definition lists
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

ol,
ul,
dl {
    @include rem("margin-left",  $gutter);
    @include rem("margin-right", $gutter);

    li {
        @include rem("margin", ($line / 2) 0);
    }

    dd {
        @include rem("margin", ($line / 2) 0 ($line / 2) $line);
        @include font-size-leading("small");
    }

    /* Remove margins and reduce space between for paragraphs within lists. */
    p {
        @include rem("margin", ($line / 2) 0 0);

        &:first-child {
            margin-top: 0;
        }

    }

    /* Nested list margins */
    & & {
        @include rem("margin-left", ($line / 2));
    }

}

/* Nested list styles */
li ol {
    list-style-type: lower-alpha;

    li & {
        list-style-type: lower-roman;
    }

}

/* Double-nested list sizes and margins */
li li li {
    @include rem("margin-left", ($line / 2));
    @include font-size-leading("small");
}

/**
 * Media queries.
 *
 * Tablets or wider.
 */
@include media-width("normal-size") {

    /* Leave more margin around text. */
    ol,
    ul,
    dl {
        @include push;
        @include pull;
    }

} //include media-width(normal-size)
