/**
 * Bulleted and numbered lists, and definition lists
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

ol,
ul,
dl {
    @include rem("margin-left",  $gutter);
    @include rem("margin-right", $gutter);

    li {
        @include rem("margin", ($line / 2) 0);
    }

    dd {
        @include rem("margin", ($line / 2) 0 ($line / 2) $line);
        @include font-size-leading("small");
    }

    /* Nested list margins */
    & & {
        @include rem("margin-left", ($line / 2));
    }

}

/* Nested list styles */
li ol {
    list-style-type: lower-alpha;

    li & {
        list-style-type: lower-roman;
    }

}

/* Double-nested list sizes and margins */
li li li {
    @include rem("margin-left", ($line / 2));
    @include font-size-leading("small");
}


/**
 * Contact details lists.
 */

.contact-details-list {
    @include clearfix;
}

/* Icon labels. */
.contact-details-label {
    @include circle;
    @include rem("margin-top", $line);
    @include font-size("huge");
    clear: left;
    float: left;
    font-family: $font-family-icons;
    font-style: normal;

    &:before {
        content: '';
        display: block;
    }

    /* Colours. */
    @each $field, $color in $circle-list-colors {
        &.#{$field} {
            color: $color;
        }
    }

}

/* All contact details text. */
.contact-details-data {
    @include font-size-leading("large", 1.5);
    @include rem("margin-top", $line);
    float: left;
    padding-left: 0;
    vertical-align: middle;

    address {
        @include font-size-leading("normal");
        margin: 0;
    }

}

/**
 * Media queries.
 *
 * Wide enough for properly spaced side-by-side-addresses.
 */
@include media-width("address-two-columns") {

    .contact-details-data address {
        @include rem("margin-right", ($line * 2));
    }

}


/**
 * Media queries.
 *
 * Tablets or wider.
 */
@include media-width("normal-size") {

    /* Leave more margin around text. */
    ol,
    ul,
    dl {
        @include push;
        @include pull;
    }

} //include media-width(normal-size)
