/* ==========================================================================
   Browser UI tweaks

   @version 1.0.0
   @package cjbarnes.github.io
   ========================================================================== */

.nav,
.title-label,
.date,
.sidebar,
.button-bar,
.page-footer,
.smallprint,
.contact-label,
.logo {
/*** Disable text selection of UI elements.
 ***/
    -webkit-touch-callout: none;
    user-select: none;
}

.logo,
.title-label,
.contact-label,
.smallprint-item-copyright,
.date {
    /* Change cursor for non-selectable elements. */
    cursor: default;
}

img::selection {
/*** Selection styling. */
    background: transparent;
}

.hashlink {
/*** Subheading permalinks.
 ***/
    @include rem("width", $line);
    @include rem("margin", ($line * -0.5) ($line / 4) 0 0);
    @include rem("height", $line);
    @include rem("line-height", $line);
    position: absolute;
    right: 100%;
    top: 50%;
    display: block;
    padding: 0;
    opacity: 0;
    border: 0;
    border-radius: 50% 50%;
    text-align: center;

    :hover > &,
    :focus > & {
        opacity: 1;
    }

}

.screen-reader-only {
    /* Hide screen-reader-only elements. */
    display: none;
}
