/**
 * Layout variables
 *
 * Grid variables, margins, and other basic dimensions.
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

// Standard columns.
$columns: 12;
$gutter-width: (1px * $vertical-rhythm);
$gutter: ($gutter-width / 2);
$body-width-maximum: 1140px;

// Variables used by Responsable (`vendor/_grid.scss`).
$gutter_width: $gutter-width;
$max_width: $body-width-maximum;

// Links.
$link-padding: 0.2em;
