/**
 * Miscellaneous variables
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

// Circle elements.
$border-width-circle: 1;
$circle-diameter: (1px * ($vertical-rhythm * 1.5));

// Animation.
$link-transition-duration:              0.3s;
$navbar-transition-duration:            0.3s;
$navbar-horizontal-transition-duration: 0.5s;
