{% include head.html %}

<main class="above-footer">

  <div class="index blog blog-page blog-page-{{ paginator.page }}">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="{{ headerclass | strip_newlines }}">

      {% comment %}
      Variable `blog` is used to signal that this is a blog index page (since
      there isn't a reliable way to determine that automatically.)
      {% endcomment %}
      {% include nav.html blog='yes' %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% if page.title %}
        {% include title.html title=page.title link_href=page.link_href %}
      {% else %}
        <div class="title"></div>
      {% endif %}

      {% include pagination.html position="masthead" %}

    </header>

    <!-- Main content area -->
    <div class="content index-content blog-content" id="content">

      <!-- Sidebar -->
      {% include blog-sidebar.html %}

      <!-- Articles list -->
      <div class="listing index-listing blog-listing">

      {% comment %} Begin listing of all posts. {% endcomment %}
      {% for post in paginator.posts %}
        {% include articleclass.html page=post %}
        <article class="listing-item index-listing-item blog-listing-item {{ articleclass | strip_newlines }}">

        {% if post.title %}
          {% include headerclass.html page=post %}
          <header class="listing-header index-listing-header blog-listing-header {{ headerclass | strip_newlines }}">

            {% if post.illustration %}
              {% assign illustration = post.illustration | append: '_listing' %}
              {% include illustration.html image=illustration %}
            {% endif %}

            {% include title.html title=post.title link_href=post.link_href url=post.url summary=post.summary format=post.format %}

          </header><!-- /.listing-header -->
        {% endif %}

        {% unless post.illustration %}
          <div class="content listing-content index-listing-content blog-listing-content post-content">

            {% if post.length %}
              {{ post.excerpt }}
              <p><a class="read-more" href="{{ post.url }}" title="Permalink">
                read more...
              </a></p>
            {% else %}
              {{ post.content }}
            {% endif %}
          </div><!-- /.listing-content -->
        {% endunless %}

          <footer class="footer listing-footer index-listing-footer blog-listing-footer post-footer">
            {% include date.html date=post.date %}
            {% if post.link_href %}
              <!-- Direct link -->
              <a class="post-footer-link" href="{{ post.link_href }}" title="go to link: {{ post.title | xml_escape }}">go to website</a>
            {% endif %}
            {% include permalinks.html url=post.url title=post.title %}
          </footer><!-- /.listing-footer -->

        </article><!-- /.listing-item -->
      {% endfor %}

      </div><!-- /.blog-listing -->

    </div><!-- /.blog-content -->

    <!-- Upper footer area -->
    <footer class="footer page-footer" id="page-footer">

      {% include pagination.html %}

    </footer><!-- /.page-footer -->

  </div><!-- /.blog-page -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
