{% include head.html %}

<main class="above-footer">

  {% include articleclass.html page=page %}
  <article class="homepage {{ articleclass | strip_newlines }}">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="homepage-masthead {{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      <!-- Your website goes here label/arrow -->
      <div class="your-website-goes-here">
        <img
          sizes="(-webkit-min-device-pixel-ratio: 1.5) 616px, (min-resolution: 1.5dppx) 616px, (min-resolution: 144dpi) 616px, (min-width: 700px) 308px, 216px"
          srcset="/img/your-website-goes-here-616w.png 616w, /img/your-website-goes-here-308w.png 308w, /img/your-website-goes-here-216w.png 216w"
          src="/img/your-website-goes-here-616w.png"
        >
      </div>

      <!-- Title and teaser -->
      <div class="title homepage-title">
        <h1 class="homepage-title-main">
          <strong class="brag"><span class="current js-brag">education</span><span class="js-brag">small&nbsp;business</span><span class="js-brag">wordpress</span></strong><br />
          <span class="suffix">web design by cJ&nbsp;barnes</span>
        </h1>
      </div>

    </header><!-- /.homepage-masthead -->

    <!-- Main content area -->
    <div class="content homepage-content" id="content">

      <section class="content-section homepage-content-section homepage-content-section-first">

      {{ content }}

      </section>

    </div><!-- /.homepage-content -->

  </article><!-- /.homepage -->

  {% include page-footer.html %}

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
