{% include head.html %}

<main class="above-footer">

  {% include articleclass.html page=page %}
  <article class="homepage {{ articleclass | strip_newlines }}">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="homepage-masthead {{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      <!-- Title and teaser -->
      <div class="title homepage-title">
        <h1 class="homepage-title-main">
          <strong class="brag"><span class="current js-brag">education </span><span class="js-brag">small&nbsp;business </span><span class="js-brag">mobile&nbsp;friendly </span><span class="js-brag">approachable </span><span class="js-brag">university </span><span class="js-brag">wordpress </span><span class="js-brag">attentive </span><span class="js-brag">caring </span></strong><br class="homepage-title-extra-line">
          <span class="suffix">web design <br>by cJ&nbsp;barnes</span>
        </h1>
      </div>

    </header><!-- /.homepage-masthead -->

    <!-- Main content area -->
    <div class="content homepage-content" id="content">

      <section class="content-section homepage-content-section homepage-content-section-first">

      {{ content }}

      </section>

      <section class="content-section content-section-special content-section-wide homepage-signposting-row">

        <!-- Blog posts -->
        {% include footer-latest-posts.html %}

        <!-- Featured websites -->
        {% include footer-featured-website.html %}

      </section>

    </div><!-- /.homepage-content -->

  </article><!-- /.homepage -->

  <!-- Upper footer area -->
  <footer class="footer page-footer" id="page-footer">

    {% include page-pager.html %}

  </footer><!-- /.page-footer -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
