{% include head.html %}

<main class="above-footer">

  <div class="index">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="{{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% include title.html title=page.title url=page.url featured=true %}

    </header>

    <!-- Main content area -->
    <div class="content index-content" id="content">

      <section class="content-section index-content-section">

        {{ content }}

      </section>

      <!-- Articles list -->
      <div class="listing index-listing">

      {% comment %} Begin listing of all child pages. {% endcomment %}
      {% assign alphapages = site.pages | sort: 'title' | sort: 'sortorder' %}
      {% for subpage in alphapages %}
      {% if (subpage.url contains page.url) and (subpage.url != page.url) %}

        {% include articleclass.html page=subpage %}
        <article class="listing-item index-listing-item {{ articleclass | strip_newlines }}">

        {% if subpage.title %}
          {% include headerclass.html page=subpage %}
          <header class="listing-header index-listing-header {{ headerclass | strip_newlines }}">

            {% if subpage.illustration %}
              {% assign illustration = subpage.illustration | append: '_listing' %}
              {% include illustration.html image=illustration %}
            {% endif %}

            {% include title.html title=subpage.title link_href=subpage.link_href url=subpage.url summary=subpage.summary %}

          </header><!-- /.listing-header -->
        {% endif %}

        {% unless subpage.illustration %}
          <div class="content listing-content index-listing-content page-content">

            {{ subpage.content }}

          </div><!-- /.listing-content -->
        {% endunless %}

          <footer class="footer listing-footer index-listing-footer page-footer">
            {% include permalinks.html url=subpage.url %}
          </footer><!-- /.listing-footer -->

        </article><!-- /.listing-item -->

      {% endif %}
      {% endfor %}

      </div><!-- /.index-listing -->

    </div><!-- /.index-content -->

    {% include page-footer.html %}

  </div><!-- /.index -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
