{% include head.html %}

<main class="above-footer">

  <div class="page index">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="{{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% include title.html title=page.title %}

    </header>

    <!-- Main content area -->
    <div class="content index-content" id="content">

      <section class="content-section index-content-section">

        {{ content }}

      </section><!-- /.index-content-section -->

      <section class="content-section index-content-section content-section-special">

        <h2 class="listing-heading index-listing-heading">in this section</h2>

        <!-- Articles list -->
        <div class="listing index-listing">

        {% comment %} Begin listing of all child pages. {% endcomment %}
        {% assign alphapages = site.pages | sort: 'title' | sort: 'sortorder' %}
        {% for subpage in alphapages %}
        {% if (subpage.url contains page.url) and (subpage.url != page.url) %}

          {% include articleclass.html page=subpage %}
          <article class="listing-item index-listing-item {{ articleclass | strip_newlines }}">

          {% if subpage.title %}
            {% include headerclass.html page=subpage %}
            <header class="listing-header index-listing-header {{ headerclass | strip_newlines }}">

              {% if subpage.illustration %}
                {% assign illustration = subpage.illustration | append: '_listing' %}
                {% include illustration.html image=illustration %}
              {% endif %}

              {% include title.html title=subpage.title link_href=subpage.link_href url=subpage.url summary=subpage.summary %}

            </header><!-- /.listing-header -->
          {% endif %}

          </article><!-- /.listing-item -->

        {% endif %}
        {% endfor %}

        </div><!-- /.index-listing -->

      </section><!-- /.index-content-section -->

    </div><!-- /.index-content -->

  <!-- Upper footer area -->
  <footer class="footer page-footer" id="page-footer">

    <!-- Blog posts -->
    {% include footer-latest-posts.html %}

    <!-- Featured websites -->
    {% include footer-featured-website.html %}

  </footer><!-- /.page-footer -->

  </div><!-- /.index -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
