{% include head.html %}

<main class="above-footer">

  {% include articleclass.html page=page %}
  <article class="portfolio {{ articleclass | strip_newlines }}">

    <!-- Title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="portfolio-masthead {{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration masthead=true %}
      {% endif %}

      {% include title.html title=page.title %}

    </header><!-- /.portfolio-masthead -->

    <!-- Main content area -->
    <div class="content portfolio-content" id="content">

      <!-- Initial content -->
      <section class="content-section portfolio-content-section content-section-special">

      {{ content }}

      </section><!-- /.portfolio-content-section -->

      <!-- Websites list -->
      <section class="content-section portfolio-content-section content-section-special content-section-wide">
        <div class="listing portfolio-listing">

        {% for item in site.data.portfolio %}
          <article class="listing-item website portfolio-item portfolio-item-{{ item.slug }}">

            <!-- Screenshots -->
            <div class="screenshots portfolio-item-screenshots">
              <div class="portfolio-item-screenshots-interior">
                <div class="screenshot large">
                  <img src="/img/portfolio/{{ item.slug }}.jpg" srcset="/img/portfolio/{{ item.slug }}@2x.jpg 2x, /img/portfolio/{{ item.slug }}.jpg 1x" width="746" height="500" title="Desktop version">
                </div>
                <div class="screenshot small">
                  <img src="/img/portfolio/mobile-{{ item.slug }}.jpg" srcset="/img/portfolio/mobile-{{ item.slug }}@2x.jpg 2x, /img/portfolio/mobile-{{ item.slug }}.jpg 1x" width="316"  height="401" title="Mobile version">
                </div>
              </div>
            </div>

            <!-- Content -->
            <div class="content listing-content portfolio-item-content">
              <h3 class="portfolio-item-title">{{ item.name }}</h3>
              {{ item.description | markdownify }}
            </div>

            <!-- Footer -->
            <footer class="footer listing-footer portfolio-item-footer">
              <a class="go-to-site" href="{{ item.url }}" title="Go to {{ item.name }} website">go to website</a>
            </footer>

          </article><!-- /.portfolio-item -->
        {% endfor %}

        </div><!-- /.portfolio-listing -->
      </section><!-- /.portfolio-content-section -->

    </div><!-- /.portfolio-content -->

  </article><!-- /.portfolio -->

  <!-- Upper footer area -->
  <footer class="footer page-footer" id="page-footer">

    {% include page-pager.html %}

  </footer><!-- /.page-footer -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
