{% include head.html %}

<main class="above-footer">

  {% include articleclass.html page=page %}
  <article class="portfolio {{ articleclass | strip_newlines }}">

    <!-- Title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="portfolio-masthead {{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% include title.html title=page.title %}

    </header><!-- /.portfolio-masthead -->

    <!-- Main content area -->
    <div class="content portfolio-content" id="content">

      <!-- Initial content -->
      <section class="content-section portfolio-content-section content-section-special">

      {{ content }}

      </section><!-- /.portfolio-content-section -->

      <!-- Websites list -->
      <section class="content-section portfolio-content-section content-section-special content-section-wide">
        <div class="listing portfolio-listing">

        {% for item in site.data.portfolio %}
          <article class="listing-item website portfolio-item portfolio-item-{{ item.slug }}">

            <!-- Screenshots -->
            <div class="content listing-content portfolio-item-content">
              <div class="screenshot large">
                <img src="/img/{{ item.slug }}.png" title="Desktop version">
              </div>
              <div class="screenshot small">
                <img src="/img/{{ item.slug }}-small.png" title="Mobile version">
              </div>
            </div>

            <!-- Footer -->
            <footer class="footer listing-footer portfolio-item-footer">
              <h3>{{ item.name }}</h3>
              <a class="go-to-site" href="{{ item.url }}" title="Go to {{ item.name }} website">go to site</a>
            </footer>

          </article><!-- /.portfolio-item -->
        {% endfor %}

        </div><!-- /.portfolio-listing -->
      </section><!-- /.portfolio-content-section -->

    </div><!-- /.portfolio-content -->

  </article><!-- /.portfolio -->

  {% include page-footer.html %}

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
