{% comment %}
Simple, descending-order list of posts used for searching and filtering.
{% endcomment %}
<ul class="minilisting filter-minilisting">
{% for post in site.posts %}
{% capture fulltext %}{{ post.format | strip_html }}
|{{ post.tags | join: '|' }}
|{{ post.languages | join: '|' }}
|{{ post.title }}
|{{ post.description }}
|{{ post.content }}
{% endcapture %}
  {% include articleclass.html page=post %}
  <li
    class="minilisting-item filter-minilisting-item {{ articleclass | strip_newlines }}"
    data-title="{{ post.title | strip_html | strip_newlines | xml_escape }}"
    data-format="{{ post.format }}"
    data-date="{{ post.date | date: '%F' }}"
    data-languages="|{{ post.languages | join: '|' | downcase | xml_escape }}|"
    data-tags="|{{ post.tags | join: '|' | xml_escape }}|"
    data-fulltext="{{ fulltext | strip_html | strip_newlines | downcase | xml_escape }}"
  >
    {% include posts-list-item.html post=post %}
  </li>
{% endfor %}
</ul><!-- /.minilisting -->
