{% if page.date %}
  {% assign main_tag = 'article' %}
  {% assign format = page.format %}
{% else %}
  {% assign main_tag = 'main' %}
  {% assign format = 'page' %}
{% endif %}

{% comment %}
 % Assemble classes for the main element.
{% endcomment %}
{% capture main_classes %}{{ format }} {{ page.class }}{% unless page.complex %} single{% endunless %}{% if page.illustration %} illustrated{% endif %}{% if page.masthead == 'light' %} light-masthead{% endif %}{% endcapture %}


{% include head.html %}

  <{{ main_tag }} class="{{ main_classes }}">

    <!-- Article title area -->
    <header class="masthead ">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% if page.title %}
        {% include title.html title=page.title link_href=page.link_href %}
      {% else %}
        <div class="title"></div>
      {% endif %}

      {% if page.date %}
        {% include date.html date=page.date %}
      {% endif %}

    </header>

    <!-- Main content area -->
    <section id="primary" {% unless page.complex %}class="content primary-content"{% endunless %}>

      {{ content }}

      {% if page.link_href %}
        <figure class="link link-article-link">
          <a href="{{ page.link_href }}">
            <em>link:</em> {{ page.title }}
          </a>
        </figure>
      {% endif %}

    </section>

    <!-- Upper footer area -->
    <footer class="footer page-footer" id="page-footer">

      {% if page.date %}
        {% include pager.html %}
      {% endif %}

    </footer>

  </{{ main_tag }}>

  {% include site-footer.html %}

{% include foot.html %}
