{% include head.html %}

<main class="above-footer">

  {% include articleclass.html page=page %}
  <article class="{{ articleclass | strip_newlines }}">

    <!-- Article title area -->
    {% include headerclass.html page=page masthead=true %}
    <header class="{{ headerclass | strip_newlines }}">

      {% include nav.html %}

      {% if page.illustration %}
        {% include illustration.html image=page.illustration %}
      {% endif %}

      {% if page.title %}
        {% include title.html title=page.title link_href=page.link_href %}
      {% else %}
        <div class="title"></div>
      {% endif %}

      {% if page.date %}
        {% include date.html date=page.date %}
      {% endif %}

    </header><!-- /.masthead -->

    <!-- Main content area -->
    <div class="content {% if page.date %}post{% else %}page{% endif %}-content" id="content">
      <section class="content-section">

      {{ content }}

      {% if page.link_href %}
        <figure class="link link-article-link">
          <a href="{{ page.link_href }}">
            <em>link:</em> {{ page.title }}
          </a>
        </figure>
      {% endif %}

      </section>
    </div><!-- /.content -->

  </article><!--{% if page.date %} /.post {% else %} /.page {% endif %}-->

  <!-- Upper footer area -->
  <footer class="footer page-footer" id="page-footer">

    {% if page.date %}
      {% include pager.html %}
    {% endif %}

  </footer><!-- /.page-footer -->

</main><!-- /.above-footer -->

{% include site-footer.html %}

{% include foot.html %}
