/// Turn this element into a circle.
///
/// @param {Number} $diameter  Diameter of the circle in px. Default
///                            $circle-diameter.
/// @param {Number} $thickness Unitless circle border width multiplier. Default
///                            1.
@mixin circle($diameter: $circle-diameter, $thickness: 1) {
    @if not "px" == unit($diameter) {
        @error "$diameter must be in px, was #{$diameter}";
    }
    @if not unitless($thickness) {
        @error "$thickness must be a unitless number, was #{$thickness}";
    }

    $size: ($diameter + (1px * ($thickness * 2)));

    // Output.
    display: block;
    overflow: hidden;
    width: $size;
    height: $size;
    border: (1px * ($border-width-circle * $thickness)) solid;
    border-radius: 50%;
    line-height: $diameter;
    text-align: center;
}
