/**
 * Mixin to circle-ize an element
 *
 * @version 1.0.0
 * @package cjbarnes.github.io
 */

/**
 * Turn this element into a circle.
 *
 * @param number $diameter  Diameter of the circle in px. Default
 *                          $circle-diameter.
 * @param number $thickness Unitless circle border width multiplier. Default 1.
 */
@mixin circle($diameter: $circle-diameter, $thickness: 1) {
    @if not "px" == unit($diameter) {
        @error "$diameter must be in px, was #{$diameter}";
    }
    @if not unitless($thickness) {
        @error "$thickness must be a unitless number, was #{$thickness}";
    }

    // Output.
    display: block;
    overflow: hidden;
    width: ($diameter + (1px * ($thickness * 2)));
    height: ($diameter + (1px * ($thickness * 2)));
    border: (1px * ($border-width-circle * $thickness)) solid;
    border-radius: 50%;
    line-height: ceil(($diameter * ((1px - (0.05px * $thickness)) / 1px)));
    text-align: center;
}
