/// Mixin to remove the visible structure of an HTML table.
///
/// Should be applied to the table element or one of its parents.
///
/// @author cJ barnes http://www.cjbarnes.co.uk/
///
/// @output Background- and border-removing styles for table cells and sections.
@mixin invisible-table() {

    /* No backgrounds. */
    tbody,
    tfoot,
    thead th {
        background: transparent;
        color: $text-color;
    }

    /* Dimensions. No borders, flush left. */
    td,
    th {
        padding-left: 0;
        border: 0;
    }

}
